{% extends 'base.html.twig' %}

{% block body %}
{% include("default/nav_away.html.twig") %}

<div id="wrapper">



    <!-- Section: works -->
    <section id="facilities" class="home-section paddingbot-60">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="section-heading text-center">
                <h2 class="h-bold">More photos for the car</h2>
                <p>Click on a photo to enlarge and scroll using the controls at the top of the paged</p>
              </div>
            </div>
            <div class="divider-short"></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="wow bounceInUp" data-wow-delay="0.2s">
              <div id="owl-works" class="owl-carousel">
              {% for presentation in gB_presentations %}
                <div class="item"><a href="{{presentation.pPhotoPath}}" title="{{presentation.pDescription|striptags|raw }}" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="{{presentation.pPhotoPath}}" class="img-responsive" alt="img"></a></div>
              {% endfor %}
              {% if gB_presentations|length() < 1 %}
              <p>It seems there are no photos for this car.
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Section: works -->


</div>

{% endblock %}