{% extends 'base.html.twig' %}

{% block page %}

	<!-- breadcrumb -->
	<div class="site-breadcrumb" style="background: url(/site/assets/img/breadcrumb/gybird-motors-car-1.jpg)">
		<div class="container">
			<h2 class="breadcrumb-title">Login</h2>
			<ul class="breadcrumb-menu">
				<li><a href="{{ path('app_index') }}">Home</a></li>
				<li class="active">Login</li>
			</ul>
		</div>
	</div>
	<!-- breadcrumb end -->


	<!-- login area -->
	<div class="login-area py-120">
		<div class="container">
			<div class="col-md-5 mx-auto">
				<div class="login-form">
					<div class="login-header">
						<img src="assets/img/logo/logo.png" alt="">
						<p>Login to your Gybird Account</p>
						{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
						<div class="alert alert-info">
							You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
						</div>
						{% endif %}
					</div>
					<form method="POST">
						<div class="form-group">
							<label>Email Address</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="********" autocomplete="current-password" required>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">								
						<div class="d-flex justify-content-between mb-4">
							<div class="form-check">
								<input class="form-check-input" name="_remember_me" type="checkbox" value="" id="remember">
								<label class="form-check-label" for="remember">
									Remember Me
								</label>
							</div>
									<a href="{{path('app_forgot_password_request')}}" class="switcher-text">Forgot Password</a>
						</div>
						<div class="d-flex align-items-center">
							<button type="submit" class="theme-btn"><i class="far fa-sign-in"></i> Login</button>
						</div>
					</form>
					<div class="login-footer">
						<p>Don't have an account? <a href="{{path('app_register')}}">Register.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- login area end -->

{% endblock %}