{% extends 'base.html.twig' %}

{% block page %}

	<!-- breadcrumb -->
	<div class="site-breadcrumb" style="background: url(/site/assets/img/breadcrumb/gybird-motors-car-1.jpg)">
		<div class="container">
			<h2 class="breadcrumb-title">Register</h2>
			<ul class="breadcrumb-menu">
				<li><a href="{{ path('app_index') }}">Home</a></li>
				<li class="active">Register</li>
			</ul>
		</div>
	</div>
	<!-- breadcrumb end -->

	<!-- register area -->
	<div class="login-area py-120">
		<div class="container">
			<div class="col-md-5 mx-auto">
				<div class="login-form">
					<div class="login-header">
						<img src="assets/img/logo/logo.png" alt="">
						<p>Create your Gybird account</p>
					</div>
					
					{% if registrationForm.vars.errors|length > 0 %}
					<div class="alert alert-primary" role="alert">
						{{ form_errors(registrationForm) }}
					</div>
					{% endif %}

					{{ form_start(registrationForm) }}
						<div class="form-group">
							<label>First Name</label>
							{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name', 'required': 'required'}}) }}										
						</div>
						<div class="form-group">
							<label>Last Name</label>
							{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name', 'required': 'required'}}) }}										
						</div>
						<div class="form-group">
							<label>Email Address</label>
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email Address', 'required': 'required'}}) }}
						</div>
						<div class="form-group">
							<label>Password</label>
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'required': 'required'}}) }}										
						</div>
						<div class="form-check form-group">
							{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'chkbx'}}) }}
							<label class="form-check-label" for="agree">
								I agree with the <a href="#">Terms Of Service.</a>
							</label>
						</div>
						<div class="d-flex align-items-center">
							<button type="submit" class="theme-btn"><i class="far fa-paper-plane"></i> Register</button>
						</div>
					{{ form_end(registrationForm) }}
					<div class="login-footer">
						<p>Already have an account? <a href="{{ path('app_login')}}">Login.</a></p>
						{# <div class="social-login">
							<p>Continue with social media</p>
							<div class="social-login-list">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-google"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- register area end -->

{% endblock %}