<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Password Reset Email Sent</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{asset('favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/css/bootstrap.min.css') }}">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/css/fontawesome-all.min.css') }}">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/font/flaticon.css') }}">
	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/style.css') }}">
</head>

<body>
    <div class="fxt-template-layout35">
        <div class="success-page-wrap">
            <div class="container text-center d-flex align-items-center justify-content-center h-100">
                <div class="success-page-content">
                    <div class="icon-success"><i class="fas fa-check"></i></div>
                    <h2 class="title-success">Password Reset Email Sent</h2>
                    <p class="description-success">If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.</p>
                    <p class="description-success">This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                    <p class="description-success">If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                    <a href="{{path('app_index')}}" class="fxt-btn-ghost">Back To Home</a>
                </div>
            </div>
        </div>
    </div>

	<!-- jquery-->
	<script src="{{asset('site/forms/js/jquery.min.js') }}"></script>
	<!-- Bootstrap js -->
	<script src="{{asset('site/forms/js/bootstrap.min.js') }}"></script>
	<!-- Imagesloaded js -->
	<script src="{{asset('site/forms/js/imagesloaded.pkgd.min.js') }}"></script>
	<!-- Validator js -->
	<script src="{{asset('site/forms/js/validator.min.js') }}"></script>
	<!-- Custom Js -->
	<script src="{{asset('site/forms/js/main.js') }}"></script>

</body>

</html>