<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Reset Password</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{asset('favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/css/bootstrap.min.css') }}">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/css/fontawesome-all.min.css') }}">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/font/flaticon.css') }}">
	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{asset('site/forms/style.css') }}">
</head>

<body>
	<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
	<section class="fxt-template-animation fxt-template-layout11">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-6 col-lg-7 col-sm-12 col-12 fxt-bg-color">
					<div class="fxt-content">
						<div class="fxt-header">
							<a href="{{path('app_login')}}" class="fxt-logo"><img style="width:200px;" src="{{asset('site/images/' ~ global_vars('seo').logoPath )}}"></a>
							<p>Recover your password</p>
						</div>

						<div class="fxt-form">
							{{ form_start(resetForm) }}
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-1">
                                        {{ form_row(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'required': 'required'}}) }}
									</div>
									<div class="fxt-transformY-50 fxt-transition-delay-1">
                                        {{ form_row(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat The Password', 'required': 'required'}}) }}
									</div>
								</div>
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-4">
										<button type="submit" class="fxt-btn-fill">Reset Password</button>
									</div>
								</div>
							{{ form_end(resetForm) }}
						</div>
						<div class="fxt-footer">
							<div class="fxt-transformY-50 fxt-transition-delay-9">
								<p>Don't have an account?<a href="{{path('app_register')}}" class="switcher-text2 inline-text">Register</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- jquery-->
	<script src="{{asset('site/forms/js/jquery.min.js') }}"></script>
	<!-- Bootstrap js -->
	<script src="{{asset('site/forms/js/bootstrap.min.js') }}"></script>
	<!-- Imagesloaded js -->
	<script src="{{asset('site/forms/js/imagesloaded.pkgd.min.js') }}"></script>
	<!-- Validator js -->
	<script src="{{asset('site/forms/js/validator.min.js') }}"></script>
	<!-- Custom Js -->
	<script src="{{asset('site/forms/js/main.js') }}"></script>

</body>

</html>