{% extends 'base.html.twig' %}

{% block body %}

  <div id="wrapper">



    {% include("default/nav.html.twig") %}
    {% include("default/intro.html.twig") %}
    {% include("default/boxes.html.twig") %}
    {% include("default/callation.html.twig") %}
    {% include("default/service.html.twig") %}
    {% include("default/cars.html.twig") %}
    {% include("default/facilities.html.twig") %}
    {% include("default/testimonials.html.twig") %}
    {% include("default/pricing.html.twig") %}
    {% include("default/partner.html.twig") %}
    {% include("default/footer.html.twig") %}



  </div>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
      


{% endblock %}
