    <!-- Section: intro -->
    <section id="intro" class="intro">
      <div class="intro-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="equal">
                <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                  <h2 class="h-ultra">Gybird Motors</h2>
                </div>
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                  <h4 class="h-light">We <span class="color">We've Got You</span> Rolling</h4>
                </div>
                <div class="well well-trans">
                  <div class="wow fadeInRight" data-wow-delay="0.1s">

                    <ul class="lead-list">
                      <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Trade In Services</strong><br />Bring your car, add little cash, walk away with one of your choice</span></li>
                      <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Bank Finance</strong><br />We finance upto 90% with flexible repayment to esteemed clients</span></li>
                      <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Direct Importation</strong><br />We help you shop and import your car, we bring it to your home</span></li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="form-wrapper">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                  <div class="panel panel-skin equal">
                    <div class="panel-heading" style="position: relative;" >
                        <div class="row">
                          <div class="col-xs-3 col-sm-4 col-md-3">
                             <p class="panel-title" style="font-weight:normal; font-size:1.5em;"> Search</p>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              {# <input type="text" name="phone" id="phone" class="form-control input-md" data-rule="required" data-msg="The phone number is required"> #}
                              <form class="form-inline" role="search">
                                  <div class="md-form my-0">
                                      <input id="search_input" class="form-control mr-sm-2 input-md" type="text" placeholder="Free Word Search" aria-label="Search">
                                  </div>
                              </form>
                              <!-- Collapsible content -->
                              <div class="panel panel-default" id="searchResults" style="position: absolute; right: 20px; top: 70px;">
                                  <span id='close' style="display:none; cursor: pointer;"><i class="fa fa-times"></i></span>
                                  <div id="listGroup" class="list-group"> </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                            {# <button class="btn btn-primary btn-sm"><span class="fa fa-search"></span></button> #}
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="panel-body">
                      {# <div id="sendmessage">Your message has been sent. Thank you!</div> #}
                      <div id="errormessage"></div>

                      <form action="" method="post" id="purchace_form" role="form" class="contactForm lead">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                            <label for="make">Make:</label>
                            <select class="form-control" id="make">
                              <option>Any</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div> 
                          <div class="col-xs-6 col-sm-6 col-md-6">
                           <div class="form-group">
                            <label for="model">Model:</label>
                            <select class="form-control" id="model">
                              <option>Any</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-4 col-md-4">
                           <div class="form-group">
                            <label for="steering">Steering:</label>
                            <select class="form-control" id="steering">
                              <option>Any</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div> 
                          <div class="col-xs-6 col-sm-4 col-md-4">
                           <div class="form-group">
                            <label for="eng_cap_from">Engine Capacity:</label>
                            <select class="form-control" id="eng_cap_from">
                              <option>From</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div>
                          <div class="col-xs-6 col-sm-4 col-md-4">
                           <div class="form-group">
                            <label for="eng_cap_to">:</label>
                            <select class="form-control" id="eng_cap_to">
                              <option>To</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-3 col-md-3">
                           <div class="form-group">
                            <label for="reg_year_from" class="thin">Reg. Year:</label>
                            <select class="form-control" id="reg_year_from">
                              <option>From</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div> 
                          <div class="col-xs-6 col-sm-3 col-md-3">
                           <div class="form-group">
                            <label for="reg_year_to">:</label>
                            <select class="form-control" id="reg_year_to">
                              <option>To</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div>
                          <div class="col-xs-6 col-sm-3 col-md-3">
                           <div class="form-group">
                            <label for="price_from">Price:</label>
                            <select class="form-control" id="price_from">
                              <option>From</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div> 
                          <div class="col-xs-6 col-sm-3 col-md-3">
                           <div class="form-group">
                            <label for="price_to">:</label>
                            <select class="form-control" id="price_to">
                              <option>To</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                            <div class="validation"></div>
                           </div> 
                          </div>
                        </div>

                        <input type="submit" value="Search" class="btn btn-skin btn-block btn-lg">

                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- /Section: intro -->
