
    <!-- Section: pricing -->
    <section id="pricing" class="home-section bg-gray paddingbot-60">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow lightSpeedIn" data-wow-delay="0.1s">
              <div class="section-heading text-center">
                <h2 class="h-bold">Contact Us</h2>
                <p>Call us today for any query or order. Feel free to call any of the contacts</p>
              </div>
            </div>
            <div class="divider-short"></div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-sm-4 pricing-box">
            <div class="wow bounceInUp" data-wow-delay="0.1s">
              <div class="pricing-content general">
                <h2>Dennis M. B</h2>
                <h3>+254 700 131 326 </h3>
                <ul>
                  <li>Sunday to Friday <i class="fa fa-check icon-success"></i></li>
                  <li>6am - 10p  <i class="fa fa-check icon-success"></i></li>
                  <li>WhatsApp <i class="fa fa-check icon-success"></i></li>
                  <li>geobril2000@gmail.com <i class="fa fa-check icon-success"></i></li>
                </ul>

                <div class="price-bottom">
                  <a href="tel:+254700131326" class="btn btn-skin btn-lg">Call Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 pricing-box featured-price">
            <div class="wow bounceInUp" data-wow-delay="0.1s">
              <div class="pricing-content general">
                <h2>George M. B</h2>
                <h3>+254 722 484 723</h3>
                <ul>
                  <li>Sunday to Friday <i class="fa fa-check icon-success"></i></li>
                  <li>6am - 10p  <i class="fa fa-check icon-success"></i></li>
                  <li>WhatsApp <i class="fa fa-check icon-success"></i></li>
                  <li>mwasbid@gmail.com <i class="fa fa-check icon-success"></i></li>
                </ul>

                <div class="price-bottom">
                  <a href="tel:+254722484723" class="btn btn-skin btn-lg">Call Now</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 pricing-box">
            <div class="wow bounceInUp" data-wow-delay="0.1s">
              <div class="pricing-content general">
                <h2>Mary K.</h2>
                <h3>+254 728 998 646</h3>
                <ul>
                  <li>Sunday to Friday <i class="fa fa-check icon-success"></i></li>
                  <li>6am - 10p  <i class="fa fa-check icon-success"></i></li>
                  <li>WhatsApp <i class="fa fa-check icon-success"></i></li>
                  <li>mkyalo@gmail.com <i class="fa fa-check icon-success"></i></li>
                </ul>

                <div class="price-bottom">
                  <a href="tel:+254728998646" class="btn btn-skin btn-lg">Call Now</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- /Section: pricing -->

