<style>
.car-card-item {
    display: flex;
    flex-direction: column; /* Stacks on small screens */
}

@media (min-width: 768px) {
    .car-card-item {
        flex-direction: row; /* Side-by-side on medium+ screens */
        gap: 20px; /* Adds spacing between car-card-img and car-card-content */
    }

    .car-card-img {
        width: 40%; /* Adjust width as needed */
    }

    .car-card-content {
        width: 60%; /* Adjust width as needed */
    }
}
</style>
<div class="col-12">
    <div class="car-card-item d-flex align-items-start flex-column flex-md-row">
        <!-- Car Image -->
        <div class="car-card-img flex-shrink-0">
            <span class="car-status status-1">{{ car.used ? 'Japan Used' : 'Brand New' }}</span>
            <img src="/site/images/car_images/{{ car.image }}" alt="">
            <div class="car-btns">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-arrows-repeat"></i></a>
            </div>
        </div>

        <!-- Car Content -->
        <div class="car-card-content flex-grow-1 ms-md-4">
            <div class="car-top">
                <h4><a href="{{ path('car_detail', {'slug': car.slug }) }}">{{ car }}</a></h4>
            </div>
            <ul class="car-list">
                <li><i class="far fa-steering-wheel"></i>{{ car.transmission }}</li>
                <li><i class="far fa-road"></i>{{ car.fuelType }}</li>
                <li><i class="far fa-car"></i>{{ car.yom }}</li>
                <li><i class="fa-solid fa-engine"></i>{{ car.engineCapacity }} cc</li>
                <li class="d-inline-flex align-items-center">
                    <h5>Loan Calculator:</h5>
                    <div class="btn-group ms-2" role="group">
                        <a class="btn btn-sm btn-primary" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 60, 'loanRate': 18.7, 'cqp': car.id, 'type': 'salary'}) }}">
                            Salaried
                        </a>
                        <a class="btn btn-sm btn-info" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 48, 'loanRate': 23.7, 'cqp': car.id, 'type': 'business'}) }}">
                            Business
                        </a>
                    </div>
                </li>                                            
            </ul>
            <p>
                {{ car.description | slice(0, 300) | raw }}...
            </p>
            <div class="car-card-footer">
                <span class="car-card-price">KSh {{ car.priceGuide | number_format }}</span>
                <a href="{{ path('car_detail', {'slug': car.slug }) }}" class="theme-btn"><span class="far fa-eye"></span>Details</a>
            </div>
        </div>
    </div>
</div>
