{% extends 'base.html.twig' %}

{% block page %}

	{% set sortedSections = page.sections|sort((a, b) => a.priority <=> b.priority) %}

	{% for section in sortedSections %}	
	{{ include('sections/' ~ section.templatePath) }}
	{% endfor %}

{% endblock %}
