{% extends 'base.html.twig' %}
{% if myseo is defined and myseo is not null %}
{% set title = myseo.metaTitle %}
{% set meta_desc = myseo.metaDescription %}
{% else %}
{% set title = page.metaTitle %}
{% set meta_desc = page.metaDescription %}
{% endif %}
{% block meta_description %}{{meta_desc}}{% endblock %}

{% block meta_title %}{{ title }}{% endblock %}
{% block page %}

	{% set sortedSections = page.sections|sort((a, b) => a.priority <=> b.priority) %}
    {% if page.pageContent|length > 1 %}
        {% include('sections/variable_banner.html.twig') %}
        {% if page.contentFirst %}
            {% include ('sections/service.html.twig') %}
            {% for section in sortedSections %}	
            {{ include('sections/' ~ section.templatePath) }}
            {% endfor %}
        {% else %}
            {% for section in sortedSections %}	
            {{ include('sections/' ~ section.templatePath) }}
            {% endfor %}
            {% include ('sections/service.html.twig') %}
        {% endif %}
    {% else %}
        {% for section in sortedSections %}
            {{ include('sections/' ~ section.templatePath) }}
        {% endfor %}    
    {% endif %}

{% endblock %}
