{# templates/admin/ckeditor.html.twig #}
{% extends '@EasyAdmin/crud/new.html.twig' %}

{% block content %}
    {{ parent() }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    <script>
        // Set the base path for CKEditor before loading the script
        window.CKEDITOR_BASEPATH = '{{ asset('bundles/fosckeditor/') }}';
    </script>

    {# <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script> #}
    <script src="/bundles/fosckeditor/ckeditor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Destroy all existing CKEditor instances
            for (var instanceName in CKEDITOR.instances) {
                CKEDITOR.instances[instanceName].destroy();
            }

            // Now create new CKEditor instances for elements with class 'ckeditor'
            document.querySelectorAll('.ckeditor').forEach(function (el) {
                CKEDITOR.replace(el, {
                    versionCheck: false
                });
            });
        });
    </script>
{% endblock %}
