    <!-- footer area -->
    <footer class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row footer-widget-wrapper pt-100 pb-70">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-widget-box about-us">
                            <a href="#" class="footer-logo">
                                <img src="{{asset('site/images/' ~ seo.logoPath )}}" alt="Gybird Logo">
                            </a>
                            <p class="mb-3">
                                {{ render_content('footer-text', 'Default Text Here') }}
                            </p>
                            <ul class="footer-contact">
                                <li><a href="tel:+21236547898"><i class="far fa-phone"></i>{{ setting.phoneNumber }}</a></li>
                                <li><i class="far fa-map-marker-alt"></i>{{ setting.businessLocation }}</li>
                                <li><a href="mailto:{{ setting.emailAddress }}"><i
                                            class="far fa-envelope"></i>{{ setting.emailAddress }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li><a href="{{path('app_page', {'page': 'about-us'})}}"><i class="fas fa-caret-right"></i> About Us</a></li>
                                <li><a href="{{path('app_page', {'page': 'tips-from-gybird'})}}"><i class="fas fa-caret-right"></i> Update News</a></li>
                                <li><a href="{{path('app_page', {'page': 'testimonials'})}}"><i class="fas fa-caret-right"></i> Testimonials</a></li>
                                <li><a href="{{path('app_page', {'page': 'team'})}}"><i class="fas fa-caret-right"></i> Our Team</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Our Dealers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Support Center</h4>
                            <ul class="footer-list">
                                <li><a href="{{path('app_page', {'page': 'faq'})}}"><i class="fas fa-caret-right"></i> FAQ's</a></li>
                                <li><a href="{{ path('app_index')}}"><i class="fas fa-caret-right"></i> Home Page</a></li>
                                <li><a href="{{ path('app_register') }}"><i class="fas fa-caret-right"></i> Register</a></li>
                                <li><a href="{{ path('app_login') }}"><i class="fas fa-caret-right"></i> Login</a></li>
                                <li><a href="{{path('app_page', {'page': 'contact'})}}"><i class="fas fa-caret-right"></i> Contact Us</a></li>
                                <li><a href="/gybird-co-ke-sitemap.xml"><i class="fas fa-caret-right"></i> Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="email" class="form-control" placeholder="Your Email">
                                        <button class="theme-btn" type="submit">
                                            Subscribe Now <i class="far fa-paper-plane"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p class="copyright-text">
                            {{ render_content('copyright-text', 'Default Text Here') }}
                        </p>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <ul class="footer-social">
                            <li><a href="{{ setting.facebookLink}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ setting.twitterLink}}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="{{ setting.linkedinLink}}"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="{{ setting.youtubeLink}}"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
