    <!-- header area -->
    <header class="header">
        <!-- top header -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="header-top-left">
                        <div class="header-top-contact">
                            <ul>
                                <li><a href="mailto:{{ setting is not null ? setting.emailAddress : 'email@example.com' }}"><i class="far fa-envelopes"></i>
                                        {{ setting is not null ? setting.emailAddress : 'email@example.com' }}</a></li>
                                <li><a href="tel:{{ setting is not null ? setting.phoneNumber : 'Phone Number' }}"><i class="far fa-phone-volume"></i> {{ setting is not null ? setting.phoneNumber : 'Phone Number' }}</a>
                                </li>
                                <li><a href="#"><i class="far fa-alarm-clock"></i> {{ setting is not null ? setting.workHours : '24/7' }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-top-right">
                        <div class="header-top-link">
                            <a href="{{ path('app_login') }}"><i class="far fa-arrow-right-to-arc"></i> Login</a>
                            <a href="{{ path('app_register') }}"><i class="far fa-user-vneck"></i> Register</a>
                        </div>
                        <div class="header-top-social">
                            <span>Follow Us: </span>
                            <a href="{{ setting is not null ? setting.facebookLink : '#' }}"><i class="fab fa-facebook"></i></a>
                            <a href="{{ setting is not null ? setting.twitterLink : '#' }}"><i class="fab fa-twitter"></i></a>
                            <a href="{{ setting is not null ? setting.instagramLink : '#' }}"><i class="fab fa-instagram"></i></a>
                            <a href="{{ setting is not null ? setting.linkedinLink : '#' }}"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container position-relative">
                    <a class="navbar-brand" href="{{ path('app_index') }}">
                        <img src="{{asset('site/images/' ~ seo.logoPath )}}" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="search-btn">
                            <button type="button" class="nav-right-link"><i class="far fa-search"></i></button>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link active" href="{{ path('app_index')}}">Home</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{path('app_page', {'page': 'about-us'})}}">About</a></li>
                            {# <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="#">Service 1</a></li>
                                    <li><a class="dropdown-item" href="#">Service 2</a></li>
                                </ul>
                            </li> #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="{{path('app_page', {'page': 'team'})}}">Our Team</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_page', {'page': 'faq'})}}">Frequently Asked Questions</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_page', {'page': 'testimonials'})}}">Testimonials</a></li>
                                {% for page in pages %}
                                    <li><a class="dropdown-item" href="{{path('app_page', {'page': page.url })}}">{{ page.heading }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            {# <li class="nav-item"><a class="nav-link" href="{{path('app_page', {'page': 'showroom'})}}">Showroom</a></li> #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Showroom</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="{{path('app_page', {'page': 'showroom'})}}">All Cars</a></li>
                                    {% for car_make in car_makes %}
                                        <li><a class="dropdown-item" href="{{ path('car_category', {'category': car_make.slug }) }}">{{ car_make }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{path('app_page', {'page': 'tips-from-gybird'})}}">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('app_page', {'page': 'contact'})}}">Contact</a></li>
                        </ul>
                        <div class="nav-right">
                            <div class="search-btn">
                                <button type="button" class="nav-right-link"><i class="far fa-search"></i></button>
                            </div>
                            <div class="cart-btn">
                                <a href="#" class="nav-right-link"><i class="far fa-cart-plus"></i><span>0</span></a>
                            </div>
                            <div class="nav-right-btn mt-2">
                                <a href="tel:{{ setting.phoneNumber }}" class="theme-btn"><span class="far fa-phone"></span>{{ render_content('header-cta', 'Default Text Here') }}</a>
                            </div>
                            <div class="sidebar-btn">
                                <button type="button" class="nav-right-link"><i class="far fa-bars-sort"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- search area -->
                    <div class="search-area">
                        <form action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type Keyword...">
                                <button type="submit" class="search-icon-btn"><i class="far fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- search area end -->
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->
