{% set seo = global_vars('seo') %}
<a href="{{ path('app_login') }}" class="fxt-logo">
    {% if seo is not null %}
        <img style="width:300px;" src="{{ asset('site/images/' ~ seo.logoPath) }}" alt="Logo">
    {% else %}
        <img style="width:300px;" src="{{ asset('site/images/default-logo.png') }}" alt="Default Logo">
    {% endif %}
</a>