    <!-- sidebar-popup -->
    <div class="sidebar-popup">
        <div class="sidebar-wrapper">
            <div class="sidebar-content">
                <button type="button" class="close-sidebar-popup"><i class="far fa-xmark"></i></button>
                <div class="sidebar-logo">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
                <div class="sidebar-about">
                    <p>{{ render_content('side-bar-heading', 'Default Text Here') }}</p>
                    <p>{{ render_content('side-bar-content', 'Default Text Here') }}</p>
                </div>
                <div class="sidebar-contact">
                    <p>Contact Info</p>
                    <ul>
                        <li>
                            <p>Email</p>
                            <a href="mailto:info@example.com"><i class="far fa-envelope"></i>{{ setting.emailAddress }}</a>
                        </li>
                        <li>
                            <p>Phone</p>
                            <a href="tel:+21236547898"><i class="far fa-phone"></i>{{ setting.phoneNumber }}</a>
                        </li>
                        <li>
                            <p>Address</p>
                            <a href="#"><i class="far fa-location-dot"></i>{{ setting.businessLocation }}</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-social">
                    <p>{{ render_content('sidebar-cta', 'Default Text Here') }}</p>
                    <a href="{{ setting.facebookLink }}"><i class="fab fa-facebook"></i></a>
                    <a href="{{ setting.twitterLink }}"><i class="fab fa-twitter"></i></a>
                    <a href="{{ setting.instagramLink }}"><i class="fab fa-instagram"></i></a>
                    <a href="{{ setting.linkedinLink }}"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-popup end -->

