	<!-- about area -->
	<div class="about-area py-120">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about-left wow fadeInLeft" data-wow-delay=".25s">
						<div class="about-img">
							{{ render_image('about-us', '/site/web_images/' ~ images['about-us'].src, 'About us') }}
						</div>
						<div class="about-experience">
							{# <div class="about-experience-icon">
								<i class="flaticon-car"></i>
							</div> #}
							{{ render_content('about-us-phrase', 'Default Text Here') }}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-right wow fadeInRight" data-wow-delay=".25s">
						<div class="site-heading mb-3">
							<span class="site-title-tagline justify-content-start">
								<i class="flaticon-drive"></i> About Us
							</span>
							<h2 class="site-title">
								{{ render_content('about-us-heading', 'Default Text Here') }}
							</h2>
						</div>
						<p class="about-text">
							{{ render_content('about-us-text', 'Default Text Here') }}
						</p>
						<div class="about-list-wrapper">
							{{ render_content('about-us-facts-list', 'Default Text Here') }}
						</div>
						<a href="tel:{{ setting.phoneNumber }}" class="theme-btn mt-4">{{ render_content('red-slider-action', 'Default Text Here') }}<i
								class="fas fa-arrow-right-long"></i></a>
						<a href="/about-us" class="theme-btn theme-btn2 mt-4">{{ render_content('about-us-action', 'Default Text Here') }}<i
								class="fas fa-arrow-right-long"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about area end -->

