<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "Article",
  "@id": "https://www.wikidata.org/wiki/Q191067",
  "headline": "{{ blog_post.title }}",
  "alternateName": "{{ blog_post.metaTitle }}",
  "url": "https://gybird.co.ke/post/{{ blog_post.slug }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.wikidata.org/wiki/Q36774"
  },
  "image": "https://gybird.co.ke/site/images/blog_images/{{ blog_post.featuredImage }}",
  "author": {
    "@type": "Person",
    "name": "{{ blog_post.author }}",
    "url": "https://gybird.co.ke"
  },
  "genre": "{{ blog_post.blogCategories | first . categoryName }}",
  "keywords": "{{ blog_post.title }}",
  "datePublished": "{{ blog_post.publicationDate|date('Y-m-d\\TH:i:sP') }}",
  "description": "{{ blog_post.metaDescription }}",
  "articleBody": "{{ blog_post.content }}"
}
 </script>