	<!-- Banner Area Start -->
	<div class="banner-area banner-group">
		<div class="single-slider" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }})">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="slider-content"> <span class="section-top">// {{ render_content('company-name', 'Default Text Here') }}</span>
							<h1>{{ render_content('homepage-main-h1', 'Default Text Here') }}</h1>
							<p>{{ render_content('main-slide-text', 'Default Text Here') }}</p>
							<div class="banner-btn"> <a class="attoyer-btn" href="#">{{ render_content('action-button-slider', 'Default Text Here') }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider bg-img" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }})">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="slider-content"> <span class="section-top">// {{ render_content('company-name', 'Default Text Here') }}</span>
							<h2>{{ render_content('homepage-main-h2', 'Default Text Here') }}</h2>
							<p>{{ render_content('second-slider-text', 'Default Text Here') }}</p>
							<div class="banner-btn"> <a class="attoyer-btn" href="#">{{ render_content('action-button-slider', 'Default Text Here') }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Banner Area End -->
