
        <!-- blog single area -->
        <div class="blog-single-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-single-wrapper">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img">
                                    <img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}"  alt="{{ blog_post.title }}">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-meta">
                                        <div class="blog-meta-left bg-dark p-2">
                                            <ul>
                                                <li><i class="far fa-user"></i><a href="#">{{ blog_post.author }}</a></li> | 
												<ul>
													{% for category in blog_post.blogCategories %}
														<li>
															<a href="#">{{ category }}</a>
														</li>
													{% endfor %}									
												| 
												</ul>
												<li>{{blog_post.publicationDate|date('d, M Y') }}</li>
                                            </ul>
                                        </div>
                                        <div class="blog-meta-right">
                                             <a href="#" class="share-btn"><i class="far fa-share-alt"></i>Share</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <div id="table-of-contents"></div>
                                        <h2 class="blog-details-title mb-20">{{ blog_post.title }}</h2>
										{{ blog_post.content | render_cars  }}
                                        <hr>
										<div class="blog-details-tags pb-20">
											<h5>Tags : </h5>
											<ul>
												{% for category in blog_post.blogCategories %}
													<li>
														<a href="#">{{ category }}</a>
													</li>
												{% endfor %}									
											</ul>
										</div>
                                    </div>
                                    <div class="blog-author">
                                        <div class="blog-author-img">
                                            <img src="/site/images/profile_pictures/{{ blog_post.author.profilePicture }}" alt="{{ blog_post.author }}">
                                        </div>
                                        <div class="author-info">
                                            <h6>Author</h6>
                                            <h3 class="author-name">{{ blog_post.author }}</h3>
                                            <p>{{ blog_post.author.about }}</p>
                                            <div class="author-social">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                                <a href="#"><i class="fab fa-whatsapp"></i></a>
                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="blog-comments">
                                    <h3>Comments (20)</h3>
                                    <div class="blog-comments-wrapper">
                                        <div class="blog-comments-single">
                                            <img src="assets/img/blog/com-1.jpg" alt="thumb">
                                            <div class="blog-comments-content">
                                                <h5>Jesse Sinkler</h5>
                                                <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                <p>There are many variations of passages the majority have suffered in some injected humour or randomised words which don't look even slightly believable.</p>
                                                <a href="#"><i class="far fa-reply"></i> Reply</a>
                                            </div>
                                        </div>
                                        <div class="blog-comments-single blog-comments-reply">
                                            <img src="assets/img/blog/com-2.jpg" alt="thumb">
                                            <div class="blog-comments-content">
                                                <h5>Daniel Wellman</h5>
                                                <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                <p>There are many variations of passages the majority have suffered in some injected humour or randomised words which don't look even slightly believable.</p>
                                                <a href="#"><i class="far fa-reply"></i> Reply</a>
                                            </div>
                                        </div>
                                        <div class="blog-comments-single">
                                            <img src="assets/img/blog/com-3.jpg" alt="thumb">
                                            <div class="blog-comments-content">
                                                <h5>Kenneth Evans</h5>
                                                <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                <p>There are many variations of passages the majority have suffered in some injected humour or randomised words which don't look even slightly believable.</p>
                                                <a href="#"><i class="far fa-reply"></i> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-comments-form">
                                        <h3>Leave A Comment</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Your Name*">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Your Email*">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="5" placeholder="Your Comment*"></textarea>
                                                    </div>
                                                    <button type="submit" class="theme-btn">Post Comment <i class="far fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="sidebar">
                            <!-- search-->
                            <div class="widget search">
                                <h5 class="widget-title">Search</h5>
                                <form class="search-form">
                                    <input type="text" class="form-control" placeholder="Search Here...">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </form>
                            </div>
                            <!-- category -->
                            <div class="widget category">
                                <h5 class="widget-title">Category</h5>
                                <div class="category-list">
								{% for blog_category in blog_categories %}
                                    <a href="#"><i class="far fa-arrow-right"></i>{{ blog_category.categoryName }}<span>({{ blog_category.blog | length }})</span></a>
								{% endfor %}
                                </div>
                            </div>
                            <!-- recent post -->
                            <div class="widget recent-post">
                                <h5 class="widget-title">Recent Posts</h5>
								{% for blog_post in blog_posts %}
                                <div class="recent-post-single">
                                    <div class="recent-post-img">
                                        <img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="{{ blog_post.title }}">
                                    </div>
                                    <div class="recent-post-bio">
                                        <h6><a href="#">{{ blog_post.title }}</a></h6>
                                        <span><i class="far fa-clock"></i>{{blog_post.publicationDate|date('d, M Y') }}</span>
                                    </div>
                                </div>
								{% endfor %}

                            </div>
                            <!-- social share -->
                            <div class="widget social-share">
                                <h5 class="widget-title">Follow Us</h5>
                                <div class="social-share-link">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                            <!-- Recent Post -->
                            <div class="widget sidebar-tag">
                                <h5 class="widget-title">Popular Tags</h5>
                                <div class="tag-list">
                                    <a href="#">Car</a>
                                    <a href="#">Dealer</a>
                                    <a href="#">Drive</a>
                                    <a href="#">Insurance</a>
                                    <a href="#">Offer</a>
                                    <a href="#">Tips</a>
                                    <a href="#">Maintenance</a>
                                    <a href="#">Luxury</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single area end --> 
