        <!-- blog area -->
        <div class="blog-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="flaticon-drive"></i> {{ render_content('blog-section-pre-title', 'Default Text Here') }}</span>
                            <h2 class="site-title">{{ render_content('blog-section-title', 'Default Text Here') }}</h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
				{% for blog_post in blog_posts %}
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                            <a href="{{path('blog_detail', {'slug': blog_post.slug })}}">
                                <div class="blog-item-img">
                                    <img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="Thumb">
                                </div>
                            </a>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> {{ blog_post.author }}</a></li>
                                        <li><a href="#"><i class="far fa-calendar-alt"></i> {{blog_post.publicationDate|date('d, M Y') }}</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="{{path('blog_detail', {'slug': blog_post.slug })}}">{{blog_post.title}}</a>
                                </h4>
                                <a class="theme-btn" href="{{path('blog_detail', {'slug': blog_post.slug })}}">{{ render_content('blog-section-cta', 'Default Text Here') }}<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
				{% endfor %}
                </div>
            </div>
        </div>
        <!-- blog area end -->
