<style>
.car-single-widget {
    background-color: #f8f9fa; /* Soft background color for the section */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.car-title {
    font-size: 24px;
    color: #343a40; /* Darker shade for text */
    margin-bottom: 10px;
}

.car-single-price span {
    color: #F21C28; /* Green color for price */
    font-weight: bold;
    font-size: 22px;
}

.loan-header {
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 2px solid #F21C28;
    padding-bottom: 5px;
}

.deposit-section, .repayment-section {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.deposit-item, .repayment-item {
    width: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.deposit-item p, .repayment-item p {
    margin: 5px 0;
    font-size: 16px;
}

.deposit-amount, .repayment-amount {
    color: #F21C28; /* Green color for amounts */
    font-weight: bold;
}

.repayment-title {
    font-size: 18px;
    color: #343a40;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .deposit-section, .repayment-section {
        flex-direction: column;
    }

    .deposit-item, .repayment-item {
        width: 100%;
        margin-bottom: 15px;
    }
}

</style>
        <!-- car single -->
        <div class="car-item-single bg py-120">
            <div class="container">
                <div class="car-single-wrapper">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="car-single-details">
                                <div class="car-single-widget">
                                    <div class="car-single-top">
                                        <span class="car-status status-1">{{ render_content('car-info-state', 'Default Text Here') }}</span>
                                        <h2 class="car-single-title">{{ car.carMake }} {{ car.carModel }} Features and Price</h2>
                                        <ul class="car-single-meta">
                                            <li><i class="far fa-clock"></i> {{ car.engineCapacity }} CC</li>
                                            <li><i class="far fa-eye"></i> {{ car.fuelType }}</li>
                                        </ul>
                                    </div>
                                    <div class="car-single-slider">
                                        <div class="item-gallery">
                                            <div class="flexslider-thumbnails">
                                                <ul class="slides">
                                                    <li data-thumb="/site/images/car_images/{{ car.image }}">
                                                        <img src="/site/images/car_images/{{ car.image }}" alt="#">
                                                    </li>
                                                    {% for carImage in car.carImages %}
                                                        <li data-thumb="/site/images/car_images/{{ carImage.imageUrl }}">
                                                            <img src="/site/images/car_images/{{ carImage.imageUrl }}" alt="#">
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-single-widget">
                                    <h2 class="mb-4">Key Information</h2>
                                    <div class="car-key-info">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-car-side"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Sun Roof</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.sunroof ? 'Yes' : 'No' }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-car"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Condition</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.used ? 'Japan Used' : 'Brand New' }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-cogs"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Engine Capacity</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.engineCapacity }} CC</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-gas-pump"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Fuel Type</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.fuelType }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Year</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.yom }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            {# <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="flaticon-gas-station"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Fuel Type</span>
                                                        <h6>Diesel</h6>
                                                    </div>
                                                </div>
                                            </div> #}
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-tachometer-alt"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Horse Power</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.horsePower }}Hp</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-wrench"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Torque</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.torque }}Nm</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-cogs"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Transmission</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.transmission }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-car"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>Drive Type</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.driveType }}</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <div class="car-key-item">
                                                    <div class="car-key-icon">
                                                        <i class="fas fa-tachometer-alt"></i>
                                                    </div>
                                                    <div class="car-key-content">
                                                        <span>0 to 100</span>
                                                        <p style="margin-bottom: 0!important;margin-top: 0!important;"><strong>{{ car.zeroToHundredTime }} seconds</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="car-single-widget">
                                    <p class="car-single-price">Price: KSh {{ car.priceGuide | number_format }}</hp>
                                    <ul class="car-single-meta">
                                        <li><i class="fa-solid fa-money-bill"></i> Price Guide</li>
                                        <li><i class="far fa-bank"></i> Bank Financing Accepted</li>
                                    </ul>
                                </div> #}
                                <div class="car-single-widget">
                                    <h3 class="car-title">{{ car.carMake }} {{ car.carModel }} Price</h3>
                                    <p class="car-single-price">Price: <span>KSh {{ car.priceGuide | number_format }}</span></p>

                                    <div class="car-loan-details">
                                        <h3 class="loan-header">Bank Financing : Deposit & Monthly Repayments</h3>
                                        <div class="deposit-section">
                                            <div class="deposit-item">
                                                <p><strong>Salaried Deposit (15%):</strong></p>
                                                <p class="deposit-amount">KSh <span id="salaried-deposit"></span></p>
                                            </div>
                                            <div class="deposit-item">
                                                <p><strong>Business Deposit (20%):</strong></p>
                                                <p class="deposit-amount">KSh <span id="business-deposit"></span></p>
                                            </div>
                                        </div>

                                        <div class="repayment-section">
                                            <div class="repayment-item">
                                                <h4 class="repayment-title">Salaried Monthly Repayment (60 months):</h4>
                                                <p class="repayment-amount">Monthly Payment: KSh <span id="salaried-payment"></span></p>
                                                <small>
                                                    <a class="btn btn-sm btn-primary" id="salaried-loan-calculator" href="#"><i>Loan calculator (Salaried)</i></a>
                                                </small>

                                            </div>
                                            <div class="repayment-item">
                                                <h4 class="repayment-title">Business Monthly Repayment (48 months):</h4>
                                                <p class="repayment-amount">Monthly Payment: KSh <span id="business-payment"></span></p>
                                                <small>
                                                    <a class="btn btn-sm btn-primary" id="business-loan-calculator" href="#"><i>Loan calculator (Business)</i></a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="car-single-widget">
                                    <div class="car-single-overview">
                                        <h2 class="mb-3">Description</h2>
                                        <div class="mb-4">
                                            {{ car.description | raw }}
                                        </div>
                                        <h2 class="mb-3">Car Features</h2>
                                        {{ car.features | raw}}
                                        <h2 class="mb-4">Location</h2>
                                        <div class="car-single-map">
                                            <div class="contact-map">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.919721311312!2d36.830479475888346!3d-1.2160521355552916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3de4a8143d2b%3A0x77c5c935be2fe48c!2sGYBIRD%20MOTORS%20SHOWROOM!5e0!3m2!1sen!2ske!4v1725995925177!5m2!1sen!2ske" style="aspect-ratio: 10 / 4.5; width:100%;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="car-single-widget">
                                    <div class="car-single-review">
                                        <div class="blog-comments mb-0">
                                            <h4>Reviews (05)</h4>
                                            <div class="blog-comments-wrapper">
                                                <div class="blog-comments-single">
                                                    <img src="assets/img/blog/com-1.jpg" alt="thumb">
                                                    <div class="blog-comments-content">
                                                        <h5>Jesse Sinkler</h5>
                                                        <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                                        <a href="#"><i class="far fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                                <div class="blog-comments-single">
                                                    <img src="assets/img/blog/com-2.jpg" alt="thumb">
                                                    <div class="blog-comments-content">
                                                        <h5>Daniel Wellman</h5>
                                                        <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                                        <a href="#"><i class="far fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                                <div class="blog-comments-single">
                                                    <img src="assets/img/blog/com-3.jpg" alt="thumb">
                                                    <div class="blog-comments-content">
                                                        <h5>Kenneth Evans</h5>
                                                        <span><i class="far fa-clock"></i> January 31, 2023</span>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                                        <a href="#"><i class="far fa-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog-comments-form">
                                                <h4>Leave A Review</h4>
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group car-review-rating">
                                                                <label>Your Rating</label>
                                                                <div>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Your Name*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" placeholder="Your Email*">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control" rows="5" placeholder="Your Comment*"></textarea>
                                                            </div>
                                                            <button type="submit" class="theme-btn"><span class="far fa-paper-plane"></span> Submit Review</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="car-single-widget">
                                <div class="car-single-author">
                                    {# <img src="/site/images/profile_pictures/{{author.profilePicture}}" alt=""> #}
                                    <div class="car-single-author-content">
                                        <h3>Contact {{ render_content('customer-care-person', 'Default Text Here') }}</h3>
                                        <span>{{ render_content('customer-care-title', 'Default Text Here') }}</span>
                                        <div class="car-single-author-social">
                                            <a href="{{ setting.facebookLink }}"><i class="fab fa-facebook"></i></a>
                                            <a href="{{ setting.instagramLink }}"><i class="fab fa-instagram"></i></a>
                                            <a href="{{ setting.linkedinLink }}"><i class="fab fa-twitter"></i></a>
                                            <a href="{{ setting.youtubeLink }}"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                        <a href="tel:0723499239" class="mt-3 theme-btn">{{ render_content('call-now', 'Default Text Here') }}<i
                                                class="fas fa-phone"></i></a>
                                        <a href="https://wa.me/254723499239" class="mt-3 theme-btn">{{ render_content('whatsapp-now', 'Default Text Here') }}<i
                                                class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="car-single-widget">
                                <h2 class="mb-3">{{ render_content('car-detail-contact-form-title', 'Default Text Here') }}</h2>
                                <div class="car-single-form">
                                    {% include 'sections/contact_form.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="car-single-related mt-5">
                        <h2 class="mb-30">{{ render_content('car-detail-related-title', 'Default Text Here') }}</h2>
                        <div class="row">
                        {% for car in related_cars %}
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="car-item">
                                    <div class="car-img">
                                        <span class="car-status status-1">{{ car.used ? 'Japan Used' : 'Brand New' }}</span>
                                        <img src="/site/images/car_images/{{ car.image }}" alt="">
                                        <div class="car-btns">
                                            <a href="#"><i class="far fa-heart"></i></a>
                                            <a href="#"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                    <div class="car-content">
                                        <div class="car-top">
                                            <h3><a href="{{path('car_detail', {'slug': car.slug })}}">{{ car.carMake }} {{ car.carModel }}</a></h3>
                                            {# <div class="car-rate">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>5.0 (58.5k Review)</span>
                                            </div> #}
                                        </div>
                                        <ul class="car-list">
                                            <li><i class="far fa-steering-wheel"></i>{{ car.transmission }}</li>
                                            <li><i class="far fa-road"></i>{{ car.fuelType }}</li>
                                            <li><i class="far fa-car"></i>Model: {{ car.yom }}</li>
                                            <li><i class="far fa-gas-pump"></i>{{ car.engineCapacity }} CC</li>
                                        </ul>
                                        <div class="car-footer">
                                            <span class="car-price">KSh {{ car.priceGuide | number_format }}</span>
                                            <a href="{{path('car_detail', {'slug': car.slug })}}" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get car price and compute deposits
    const carPrice = parseFloat("{{ car.priceGuide }}");
    const salariedDeposit = carPrice * 0.15;
    const businessDeposit = carPrice * 0.20;

    // Format and display deposits
    document.getElementById("salaried-deposit").textContent = numberWithCommas(salariedDeposit.toFixed(0));
    document.getElementById("business-deposit").textContent = numberWithCommas(businessDeposit.toFixed(0));

    // Fetch salaried loan calculation
    fetchLoanCalculation(carPrice - salariedDeposit, 60, 18.7, "salaried-payment");
    
    // Fetch business loan calculation
    fetchLoanCalculation(carPrice - businessDeposit, 48, 23.7, "business-payment");

    // Update loan calculator links
    updateLoanCalculatorLink('salaried-loan-calculator', carPrice, 60, 18.7, 'salary');
    updateLoanCalculatorLink('business-loan-calculator', carPrice, 48, 23.7, 'business');
});

// Helper function to fetch loan calculation via AJAX
function fetchLoanCalculation(loanAmount, loanTerm, loanRate, elementId) {
    fetch('/calculate/loan', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ loanAmount, loanTerm, loanRate })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById(elementId).textContent = numberWithCommas(data[0].payment);
    })
    .catch(error => console.error('Error fetching loan calculation:', error));
}

// Helper function to update loan calculator links
function updateLoanCalculatorLink(elementId, carPrice, loanTerm, loanRate, type) {
    const linkElement = document.getElementById(elementId);
    if (linkElement) {
        linkElement.href = "{{ path('app_page', {'page': 'car-loan-calculator'}) }}" +
            `?carPrice=${carPrice}&loanTerm=${loanTerm}&loanRate=${loanRate}&cqp={{ car.id }}&type=${type}`;
    }
}

// Helper function to add commas to numbers
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

</script>
