        <!-- car area -->
        <div class="car-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="flaticon-drive"></i> {{ render_content('car-area-pre-title', 'Default Text Here') }}</span>
                            <h2 class="site-title">{{ render_content('car-area-title', 'Default Text Here') }}</h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for car in cars | reverse %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="car-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="car-img">
                                <span class="car-status status-1">{{ render_content('car-area-text-on-car', 'Default Text Here') }}</span>
                                <a href="{{path('car_detail', {'slug': car.slug })}}">
                                    <img src="/site/images/car_images/{{ car.transparentBgImage }}" alt="">
                                </a>
                                <div class="car-btns">
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                            <div class="car-content">
                                <div class="car-top">
                                    <h4><a href="{{path('car_detail', {'slug': car.slug })}}">{{ car.carMake }} {{ car.carModel }}</a></h4>
                                    {# <div class="car-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span>5.0 (58.5k Review)</span>
                                    </div> #}
                                </div>
                                <ul class="car-list">
                                    <li><i class="far fa-steering-wheel"></i>{{ car.transmission }}</li>
                                    <li><i class="far fa-road"></i>Fuel type: {{ car.fuelType }}</li>
                                    <li><i class="far fa-car"></i>Model: {{ car.yom }}</li>
                                    <li><i class="fa-solid fa-engine"></i>{{ car.engineCapacity }} CC</li>
                                    <li class="d-inline-flex align-items-center">
                                        Loan Calculator:
                                        <div class="btn-group ms-2" role="group">
                                            <a class="btn btn-sm btn-primary" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 60, 'loanRate': 18.7, 'cqp': car.id, 'type': 'salary'}) }}">
                                                Salaried
                                            </a>
                                            <a class="btn btn-sm btn-info" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 48, 'loanRate': 23.7, 'cqp': car.id, 'type': 'business'}) }}">
                                                Business
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="car-footer">
                                    <span class="car-price">KSh {{ car.priceGuide | number_format }}</span>
                                    <a href="{{path('car_detail', {'slug': car.slug })}}" class="theme-btn"><span class="far fa-eye"></span>{{ render_content('car-area-cta-text', 'Default Text Here') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {# <div class="text-center mt-4">
                    <a href="#" class="theme-btn">Load More <i class="far fa-arrow-rotate-right"></i> </a>
                </div> #}
            </div>
        </div>
        <!-- car area end -->
