        <!-- counter area -->
        <div class="counter-area pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div>
                                {% if app.user and app.user is not null  %}
                                    <span>{{ render_content('available-cars', 'Default Text Here') }}</span>
                                {% else %}
                                    <span class="counter" data-count="+" data-to="{{ render_content('available-cars', 'Default Text Here') }}" data-speed="3000">{{ render_content('available-cars', 'Default Text Here') }}</span>
                                {% endif %}
                                <h6 class="title">+ Available Cars </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="flaticon-car-key"></i>
                            </div>
                            <div>
                                {% if app.user and app.user is not null  %}
                                    <span>{{ render_content('happy-clients', 'Default Text Here') }}</span>
                                {% else %}
                                    <span class="counter" data-count="+" data-to="{{ render_content('happy-clients', 'Default Text Here') }}" data-speed="3000">{{ render_content('happy-clients', 'Default Text Here') }}</span>
                                {% endif %}
                                <h6 class="title">+ Happy Clients</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="flaticon-screwdriver"></i>
                            </div>
                            <div>
                                {% if app.user and app.user is not null  %}
                                    <span>{{ render_content('team-workers', 'Default Text Here') }}</span>
                                {% else %}
                                    <span class="counter" data-count="+" data-to="{{ render_content('team-workers', 'Default Text Here') }}" data-speed="3000">{{ render_content('team-workers', 'Default Text Here') }}</span>
                                {% endif %}
                                <h6 class="title">+ Team Workers</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="flaticon-review"></i>
                            </div>
                            <div>
                                {% if app.user and app.user is not null  %}
                                    <span>{{ render_content('years-of-experience', 'Default Text Here') }}</span>
                                {% else %}
                                    <span class="counter" data-count="+" data-to="{{ render_content('years-of-experience', 'Default Text Here') }}" data-speed="3000">{{ render_content('years-of-experience', 'Default Text Here') }}</span>
                                {% endif %}
                                <h6 class="title">+ Years Of Experience</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter area end -->
