	<!-- Solution Area Start -->
	<div class="solution-area section-padding" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }});">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 md-mb-30">
					<div class="section-title-left">
						<h2>{{ render_content('call-to-action-text', 'Default Text Here') }}</h2>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="solution-right">
						<div class="solution-icon">
							<div class="icon"><i class="flaticon-call"></i>
							</div>
							<div class="solution-number">
								<p>{{ render_content('call-to-action-solution', 'Default Text Here') }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Solution Area End -->
