	<!-- Faq Area Start -->
	<div class="faq-area section-padding" >
		<div class="item-bounce faq1">
			<img src="{{ asset('site/assets/img/shape/fq-shape-1.png') }}" alt="">
		</div>
		<div class="bounce-top faq2">
			<img src="{{ asset('site/assets/img/shape/fq-shape-2.png') }}" alt="">
		</div>
		<div class="faq-img" style="background-image: url({{asset('site/web_images/' ~ images['faq'].src ) }});">
            <a href="{{path('app_page', {'page': 'faq'})}}" class="attoyer-btn">See All</a>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6"></div>
				<div class="col-xl-6 col-lg-6">
                    <div class="section-title section-title-right"> <span class="section-top">//  FAQ</span>
						<h2 class="mb-60">{{ render_content('faq-title', 'Default Text Here') }}</h2>
					</div>
					<div class="collapse-area">
                      {% for faq in faqs %}
						<div class="collapse-item">
							<div class="collapse-card {{ loop.index == 2 ? 'mb-25 mt-25' }}">
								<div class="collapse-header">
									<h3>{{loop.index}}. {{faq.question}}</h3>
									<i class="flaticon-{{loop.index == 1 ? 'minus' : 'plus' }}"></i>
								</div>
								<div class="card-body {{ loop.index == 1 ? 'active' }}" {% if loop.index > 1 %} style="display: none;" {% endif %}>
									<p>{{faq.answer|raw|striptags}}</p>
								</div>
							</div>
						</div>
                      {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Faq Area End -->
