<!-- find car form -->
<div class="find-car">
    <div class="container">
        <div class="find-car-form">
            <h4 class="find-car-title">{{ render_content('find-car-form-title', 'Default Text Here') }}</h4>
            <form action="{{ path('app_page', { 'page': 'showroom' }) }}" method="GET">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <select class="select" name="brand">
                                <option value="">All Brands</option>
                                {% for brand in brands %}
                                    <option value="{{ brand.slug }}">{{ brand.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Car Model</label>
                            <select class="select" name="model">
                                <option value="">All Models</option>
                                {% for model in models %}
                                    <option value="{{ model.name }}">{{ model.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Year</label>
                            <select class="select" name="year">
                                <option value="">All Years</option>
                                {% for year in years %}
                                    <option value="{{ year.yom }}">{{ year.yom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 align-self-end">
                        <button class="theme-btn" type="submit"><span class="far fa-search"></span> {{ render_content('find-car-form-action-text', 'Default Text Here') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- find car form end -->
