        <!-- hero slider -->
        <div class="hero-section">
            <div class="hero-slider owl-carousel owl-theme">
                <div class="hero-single" style="background: url({{asset('site/web_images/' ~ images['slider-image-bg-1'].src ) }})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-content">
                                    <h1 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">{{ render_content('welcome-text', 'Default Text Here') }}</h1>
                                    <p class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        {{ render_content('slide-1-h1', 'Default Text Here') }}
                                    </p>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        {{ render_content('slider-1-text', 'Default Text Here') }}
                                    </p>
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                        <a href="tel:{{ setting.phoneNumber }}" class="theme-btn">{{ render_content('red-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-phone"></i></a>
                                        <a href="{{path('app_page', {'page': 'about-us'})}}" class="theme-btn theme-btn2">{{ render_content('white-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-right">
                                    <div class="hero-img">
                                        <img src="{{ asset('site/web_images/' ~ images['slider-image-1'].src) }}" alt="" data-animation="fadeInRight"
                                            data-delay=".25s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-single" style="background: url({{asset('site/web_images/' ~ images['slider-image-bg-2'].src ) }})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-content">
                                    <h2 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">{{ render_content('welcome-text-2', 'Default Text Here') }}</h2>
                                    <p class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        {{ render_content('slide-2-h2', 'Default Text Here') }}
                                    </p>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        {{ render_content('slider-2-text', 'Default Text Here') }}
                                    </p>
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                        <a href="tel:{{ setting.phoneNumber }}" class="theme-btn">{{ render_content('red-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-arrow-right-long"></i></a>
                                        <a href="{{path('app_page', {'page': 'about-us'})}}" class="theme-btn theme-btn2">{{ render_content('white-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-right">
                                    <div class="hero-img">
                                        <img src="{{ asset('site/web_images/' ~ images['slider-image-2'].src ) }}" alt="" data-animation="fadeInRight"
                                            data-delay=".25s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-single" style="background: url({{asset('site/web_images/' ~ images['slider-image-bg-3'].src ) }})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-content">
                                    <h2 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">{{ render_content('welcome-text-3', 'Default Text Here') }}</h2>
                                    <p class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        {{ render_content('slide-3-h2', 'Default Text Here') }}
                                    </p>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        {{ render_content('slider-3-text', 'Default Text Here') }}
                                    </p>
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                        <a href="tel:{{ setting.phoneNumber }}" class="theme-btn">{{ render_content('red-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-phone"></i></a>
                                        <a href="{{path('app_page', {'page': 'about-us'})}}" class="theme-btn theme-btn2">{{ render_content('white-slider-action', 'Default Text Here') }}<i
                                                class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="hero-right">
                                    <div class="hero-img">
                                        <img src="{{ asset('site/web_images/' ~ images['slider-image-3'].src ) }}" alt="" data-animation="fadeInRight"
                                            data-delay=".25s">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero slider end -->
