  <style>
    /* Reset list style for li */
    .service-details li {
        list-style: disc; /* Use 'circle', 'square', or 'decimal' as needed */
        list-style-position: outside; /* Ensure bullets are outside the content block */
        margin-left: 20px; /* Adjust spacing for visibility */
    }
    /* Ensure list-style-type is enabled */
    .service-details ul, .service-details ol {
    list-style-type: disc!important; /* Use 'circle', 'square', or 'decimal' for customization */
    list-style-position: outside!important; /* Ensures bullets are outside the content box */
    margin-left: 20px!important; /* Add space for the bullets to be visible */
    padding-left: 0!important; /* Adjust padding as necessary */
    }

    /* Specific fix for nested lists */
    .service-details ul .service-details ul, .service-details ol .service-details ol {
    list-style-type: circle!important; /* Use 'square' for differentiation if needed */
    margin-left: 20px!important;
    }

    /* Ensure list items display properly */
    .service-details li {
    display: list-item!important; /* Ensures default list behavior is applied */
    }

  </style>
        <!-- car area -->
        <div class="car-area list bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-12">
                            <div class="car-sort">
                                <p>Showing 1-10 of 50 Results</p>
                                <div class="car-sort-list-grid">
                                    <a class="car-sort-grid" href="{{path('app_page', {'page': 'showroom'})}}"><i
                                            class="far fa-grid-2"></i></a>
                                    <a class="car-sort-list active" href="{{path('app_page', {'page': 'showroom'})}}"><i class="far fa-list-ul"></i></a>
                                </div>
                                <div class="col-md-3 car-sort-box">
                                    <select class="select">
                                        <option value="1">Sort By Default</option>
                                        <option value="5">Sort By Featured</option>
                                        <option value="2">Sort By Latest</option>
                                        <option value="3">Sort By Low Price</option>
                                        <option value="4">Sort By High Price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        {% for car in cars %}
                            <div class="col-md-6 col-lg-12">
                                <div class="car-item">
                                    <div class="car-img">
                                        <span class="car-status status-1">{{ car.used ? 'Japan Used' : 'Brand New' }}</span>
                                        <img src="/site/images/car_images/{{ car.image }}" alt="">
                                        <div class="car-btns">
                                            <a href="#"><i class="far fa-heart"></i></a>
                                            <a href="#"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                    <div class="car-content">
                                        <div class="car-top">
                                            <h4><a href="{{path('car_detail', {'slug': car.slug })}}">{{ car }}</a></h4>
                                            {# <div class="car-rate">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span>5.0 (58.5k Review)</span>
                                            </div> #}
                                        </div>
                                        <ul class="car-list">
                                            <li><i class="far fa-steering-wheel"></i>{{ car.transmission }}</li>
                                            <li><i class="far fa-road"></i>{{ car.fuelType }}</li>
                                            <li><i class="far fa-car"></i>{{ car.yom }}</li>
                                            <li><i class="fa-solid fa-engine"></i>{{ car.engineCapacity }} cc</li>
                                            <li class="d-inline-flex align-items-center">
                                                Loan Calculator:
                                                <div class="btn-group ms-2" role="group">
                                                    <a class="btn btn-sm btn-primary" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 60, 'loanRate': 18.7, 'cqp': car.id, 'type': 'salary'}) }}">
                                                        Salaried
                                                    </a>
                                                    <a class="btn btn-sm btn-info" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 48, 'loanRate': 23.7, 'cqp': car.id, 'type': 'business'}) }}">
                                                        Business
                                                    </a>
                                                </div>
                                            </li>                                            
                                        </ul>
                                        <p>
                                            {{ car.description | slice (0, 300) | raw }}...
                                        </p>
                                        <div class="car-footer">
                                            <span class="car-price">KSh {{car.priceGuide | number_format }}</span>
                                            <a href="{{path('car_detail', {'slug': car.slug })}}" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <!-- pagination -->
                        <div class="pagination-area">
                            <div aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- pagination end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- car area end -->
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="table-of-contents"></div>
                    </div>
                </div>
            </div>
        </div>