<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ car.carMake }} {{ car.carModel }}",
  "image": [
      "https://gybird.co.ke/site/images/car_images/{{ car.image }}"
      {% if car.carImages | length > 0 %}, {% endif %}
      {% for carImage in car.carImages %}
          "https://gybird.co.ke/site/images/car_images/{{ carImage.imageUrl }}"
          {% if not loop.last %}, {% endif %}
      {% endfor %}
  ],
  "description": "{{ car.description }}",
  "sku": "{{ car.carMake }}-{{ car.carModel }}-{{ car.yom }}",
  "brand": {
    "@type": "Brand",
    "name": "{{ car.carMake }}"
  },
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": 4.4,
      "bestRating": 5
    },
    "author": {
      "@type": "Person",
      "name": "George Muthiani"
    }
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": 4.6,
    "reviewCount": {{ random(10, 300) }}
  },
  "offers": {
    "@type": "Offer",
    "url": "https://gybird.co.ke/showroom/{{ car.slug }}",
    "priceCurrency": "KES",
    "price": {{ car.priceGuide }},
    "priceValidUntil": "{{ 'now'|date('Y') }}-12-31",
    "itemCondition": "https://schema.org/UsedCondition",
    "availability": "https://schema.org/InStock",
    "hasMerchantReturnPolicy": {
      "@type": "MerchantReturnPolicy",
      "returnPolicyCategory": "https://schema.org/MerchantReturnNotPermitted",
      "returnPolicyCountry": "KE",
      "applicableCountry": "KE",
      "returnPolicyUrl": "https://gybird.co.ke/return-policy"
    },
    "shippingDetails": {
      "@type": "OfferShippingDetails",
      "shippingRate": {
        "@type": "MonetaryAmount",
        "value": "100.00",
        "currency": "USD"
      },
      "shippingDestination": {
        "@type": "DefinedRegion",
        "addressCountry": "KE"
      },
      "deliveryTime": {
        "@type": "ShippingDeliveryTime",
        "handlingTime": {
          "@type": "QuantitativeValue",
          "minValue": 0,
          "maxValue": 1,
          "unitCode": "DAY"
        },
        "transitTime": {
          "@type": "QuantitativeValue",
          "minValue": 1,
          "maxValue": 5,
          "unitCode": "DAY"
        }
      },
      "applicableCountry": "KE"
    }
  }
}
</script>
