<style>
/* For mobile devices */
@media (max-width: 768px) {
    .table-responsive table {
        width: 100%;
        table-layout: fixed; /* Ensures columns adjust to fit the width */
        word-wrap: break-word; /* Break long words if necessary */
    }

    /* Adjust table header and data font size for mobile */
    .table-responsive table th, 
    .table-responsive table td {
        font-size: 14px; /* Reduce font size for mobile */
        padding: 8px; /* Adjust padding for better spacing */
    }

    /* Ensure table fills the width on small devices */
    .table-responsive table th, 
    .table-responsive table td {
        width: 20%; /* Each column takes up an equal portion of the table width */
    }
    .table-responsive table th, 
    .table-responsive table td {
        font-size: .8em; /* Reduced font size for mobile */
        padding: 4px; /* Adjust padding if needed */
        white-space: nowrap; /* Ensure text doesn't wrap */
    }
    
}
/* Make the first column narrower */
.table-responsive table th:first-child, 
.table-responsive table td:first-child {
    width: 15%; /* Set a smaller width for the first column */
    text-align: center; /* Center-align the content in the first column */
}

  @media print {
    /* Hide all content except the printable area */
    body * {
      visibility: hidden;
    }

    /* Ensure the table and its content are visible */
    #printable, #printable * {
      visibility: visible;
    }

    /* Remove any unwanted margins, padding, and ensure full page use */
    #printable {
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    /* Adjust print margins to remove the empty first and last pages */
    @page {
      margin: 0;
    }

    /* Optional: Prevent table rows from splitting across pages */
    table {
      page-break-inside: avoid;
    }

    /* Force table to fill the printable area without extra space */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    /* Adjust font size and padding for printing */
    table td, table th {
      font-size: 12px;
      padding: 5px;
    }
  }
</style>
{% set typeOfLoan = app.request.query.get('type') %}
<!-- Car Loan Calculator Form -->
<div class="find-car">
    <div class="container">
        <div class="find-car-form">
            <h2 class="find-car-title">{{ render_content('loan-calculator-title', 'Default Text Here') }}</h2>
            <form id="loan-calculator-form">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="loan_amount">Loan Amount</label>
                            <input type="number" id="loan_amount" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="loan_term">Term Loans (months)</label>
                            <input type="number" id="loan_term" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="loan_rate">Loan Rates (%)</label>
                            <input type="number" id="loan_rate" class="form-control" step="0.01" required>
                        </div>
                    </div>
                    <div class="col-lg-3 align-self-end">
                        <button class="theme-btn" type="submit">
                            <span class="far fa-calculator"></span> {{ render_content('calculate-now', 'Default Text Here') }}
                        </button>
                    </div>
                </div>
            </form>
            <!-- Results will be displayed here -->
            {% if typeOfLoan is defined and typeOfLoan is not empty %}
                <h2>How much is {{ car.carMake }} {{ car.carModel }} in kenya?</h2>
                <p>
                    <a href="{{ path('car_detail', {'slug': car.slug }) }}">{{ car }}</a> (japan import) costs {{ car.priceGuide|number_format }} in {{ "now"|date('Y') }} if you purchase in cash. For a {{ typeOfLoan }} car finance loan, find below your payment plan.
                </p>
                {% if car.carMake | lower == 'mazda' %} <p> Check out more Mazda cars at the <a href="{{ path('car_category', {'category': 'mazda' }) }}">Home Of Mazda in Nairobi.</a> </p> {% endif %}
            {% endif %}
            <h3 id="deposit" class="mb-3"></h3>
            <h4 style="display:inline-block;" class="">Monthly Payment Details {% if typeOfLoan is defined and typeOfLoan is not empty %} ({{ typeOfLoan | title }}) {% endif %}</h4> 
            {% if typeOfLoan == 'business' and car is defined and car is not null %}
                <a class="btn btn-primary" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 60, 'loanRate': 18.7, 'cqp': car.id, 'type': 'salary'}) }}">
                    Change To Salaried Loan
                </a>
            {% elseif typeOfLoan == 'salary' and car is defined and car is not null %}
                <a class="btn btn-primary" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 48, 'loanRate': 23.7, 'cqp': car.id, 'type': 'business'}) }}">
                    Change To Business Loan
                </a>
            {% endif %}

            <div class="mt-5" id="loan-calculator-results">
            </div>
            <!-- Updated Results Section -->
            <div class="mt-5" id="loan-calculator-results"></div>
            <div class="mt-5" id="related-cars">
                <h3 class="mb-3">Explore Payment Plans for Other Cars</h3>
                <div class="row" id="car-cards-container">

                    {% for car in relatedCars %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-4">
                            <img src="{{ asset('/site/images/car_images/' ~ car.image) }}" class="card-img-top" alt="{{ car.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.title }}</h5>
                                <p class="card-text">Price: KSh {{ car.priceGuide | number_format }}</p>
                                <a class="btn btn-sm btn-primary mt-3" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 60, 'loanRate': 18.7, 'cqp': car.id, 'type': 'salary'}) }}">
                                    Calculate Salaried Loan
                                </a>
                                <a class="btn btn-sm btn-primary mt-3" href="{{ path('app_page', {'page': 'car-loan-calculator', 'carPrice': car.priceGuide, 'loanTerm': 48, 'loanRate': 23.7, 'cqp': car.id, 'type': 'business'}) }}">
                                    Calculate Business Loan
                                </a>
                            </div>
                        </div>
                    </div>                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('loan-calculator-form').addEventListener('submit', function(e) {
        e.preventDefault();

        let loanAmount = document.getElementById('loan_amount').value;
        let loanTerm = document.getElementById('loan_term').value;
        let loanRate = document.getElementById('loan_rate').value;

        fetch('{{ path('calculate_loan') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify({
                loanAmount: loanAmount,
                loanTerm: loanTerm,
                loanRate: loanRate
            })
        })
        .then(response => response.json())
        .then(data => {
            let totalPayment = 0, totalPrincipal = 0, totalInterest = 0;

            let resultHtml = '';
            resultHtml += '<div class="table-responsive"><table id="printable" class="table table-bordered">';
            resultHtml += '<thead><tr><th>Month</th><th>Payment</th><th>Principal</th><th>Interest</th><th>Balance</th></tr></thead><tbody>';

            data.forEach((row, index) => {
                totalPayment += parseFloat(row.payment.replace(/,/g, ''));
                totalPrincipal += parseFloat(row.principal.replace(/,/g, ''));
                totalInterest += parseFloat(row.interest.replace(/,/g, ''));

                resultHtml += `<tr>
                    <td>${index + 1}</td>
                    <td>${row.payment}</td>
                    <td>${row.principal}</td>
                    <td>${row.interest}</td>
                    <td>${row.balance}</td>
                </tr>`;
            });

            resultHtml += '</tbody>';
            resultHtml += `<tfoot>
                <tr>
                    <td><strong>Totals</strong></td>
                    <td><strong>${numberWithCommas(totalPayment.toFixed(0))}</strong></td>
                    <td><strong>${numberWithCommas(totalPrincipal.toFixed(0))}</strong></td>
                    <td><strong>${numberWithCommas(totalInterest.toFixed(0))}</strong></td>
                    <td></td>
                </tr>
            </tfoot>`;
            resultHtml += '</table></div>';

            // Add print button
            resultHtml += '<button id="print-results" class="theme-btn"><i class="fas fa-print"></i> Print Results</button>';

            // Insert the results into the DOM
            document.getElementById('loan-calculator-results').innerHTML = resultHtml;

            $(window).scrollTop( $("#deposit").offset().top - 200)

            // Add event listener for print button
            document.getElementById('print-results').addEventListener('click', function() {
                window.print();
            });

        });
    });

    // Helper function to add commas to numbers
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

document.addEventListener('DOMContentLoaded', function() {
    const urlParams = new URLSearchParams(window.location.search);

    const carPrice = parseFloat(urlParams.get('carPrice')); // Get the car price from the URL
    const loanTerm = urlParams.get('loanTerm');
    const loanRate = urlParams.get('loanRate');
    const type = urlParams.get('type');
    console.log('here ' + carPrice);

    if (carPrice && loanTerm && loanRate && type) {
        // Determine the deposit percentage based on the loan type
        let depositPercentage = 0;
        if (type === 'business') {
            depositPercentage = 0.20; // 20% for business
        } else if (type === 'salary') {
            depositPercentage = 0.15; // 15% for salary
        }

        // Calculate the deposit amount and loan amount
        const depositAmount = carPrice * depositPercentage;
        const loanAmount = carPrice - depositAmount;

        // Update the fields with the loan amount and deposit
        document.getElementById('loan_amount').value = loanAmount;
        document.getElementById('loan_term').value = loanTerm;
        document.getElementById('loan_rate').value = loanRate;

        // Display the deposit amount
        document.getElementById('deposit').textContent = `Deposit: KSh ${numberWithCommas(depositAmount.toFixed(0))}`;

        // Trigger the calculation form submission
        document.getElementById('loan-calculator-form').dispatchEvent(new Event('submit'));
    }
});
</script>
