<script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "AutoDealer",
    "name": "Gybird Motors",
    "url": "https://gybird.co.ke",
    "logo": "https://gybird.co.ke/site/images/gybird-logo-long-1725855557.png",
    "image": "https://gybird.co.ke/site/web_images/business-image-1726067373.jpg",
    "description": "{{ seo.metaDescription }}",
    "priceRange": "$$",
    "telephone": "{{ setting.phoneNumber }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ setting.businessLocation }}",
      "addressLocality": "Kiambu",
      "addressRegion": "Central",
      "postalCode": "00900",
      "addressCountry": "KE"
    },
    "geo": {
      "latitude": "-1.21605750",
      "@type": "GeoCoordinates",
      "longitude": "36.83305440"
    },
    "hasMap": "https://maps.app.goo.gl/ypHWRgbk9x77mJzp9",
    "openingHours": "Mo, Tu, We, Th, Fr 08:00-18:00",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "0711476249",
      "contactType": "Customer Service"
    }
  }
   </script>
