	<!-- Services Area Start -->
	<div class="services-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="section-title"> <span class="section-top">// Services</span>
						<h2>{{ render_content('service-section-title', 'Default Text Here') }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-12 col-lg-12">
					<div class="services-group">
                      {% for service in services %}
						<div class="services-tiem">
							<div class="services-img">
								<img src="{{ asset('site/images/page_images/' ~ service.featuredImage ) }}" alt="{{service.heading}}">
							</div>
							<div class="services-content">
								<a href="{{path('app_service', {'service': service.url })}}"><h3 class="pt-20">{{service.heading}}</h3></a>
								<p class="pb-10 pt-10">{{service.metaDescription}}</p> 
								<a href="{{path('app_service', {'service': service.url })}}">Read More <i class="flaticon-right-arrow"></i></a>
							</div>
						</div>
                      {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services Area End -->
