        <!-- service-single -->
        <div class="service-single-area py-120">
            <div class="container">
                <div class="service-single-wrapper">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="service-details">
							{% if page.featuredImage is not null %}
                                <div class="service-details-img mb-30">
                                    <img src="{{asset('site/images/page_images/' ~ page.featuredImage ) }}" alt="thumb">
                                </div>
							{% endif %}
                                <div class="content-section service-details">
                                    <div id="table-of-contents"></div>
                                    <h2 class="mb-30">
                                    {% if category is defined and category is not null and category.name is not null %}
                                        {# {{ category.name }} #}
                                    {% else %}
                                        {{ page.heading }}
                                    {% endif %}
                                    </h2>
                                    {% if category is defined and category is not null and category.description is not null %}
                                        {{ category.description|raw }}
                                    {% else %}
                                        {{ page.pageContent|render_cars }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="service-sidebar">
                                <div class="widget category">
                                    {% if services is defined and services is not empty %}
                                    <h4 class="widget-title">All Services</h4>
                                        <div class="category-list">
                                        {% for service in services %}
                                            <a href="{{path('app_page', {'page': service.url})}}"><i class="far fa-long-arrow-right"></i>{{ service.heading }}</a>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if categories is defined and categories is not empty %}
                                    <h4 class="widget-title">Car Categories</h4>
                                        <ul class="list-unstyled mb-3">
                                        {% for category in categories %}
                                            <li>
                                                <a href="{{ path('car_category', {'category': category.slug } ) }}" target="_self" title="{{ category.name }}" class="border p-20 radius-sm">
                                                    <span>{{ category.name }}</span>
                                                    <span class="qty">{{ category.cars | length }}</span>
                                                </a>
                                            </li>
                                        {% else %}

                                            <p>No Categories Loaded</p>

                                        {% endfor %}
                                        </ul>

                                    {% endif %}
                                    {% if makes is defined and makes is not empty %}
                                    <h4 class="widget-title">Car Makes</h4>
                                        <ul class="list-unstyled mb-3">
                                        {% for category in makes %}
                                            <li>
                                                <a href="{{ path('car_category', {'category': category.slug } ) }}" target="_self" title="{{ category.name }}" class="border p-20 radius-sm">
                                                    <span>{{ category.name }}</span>
                                                    <span class="qty">{{ category.cars | length }}</span>
                                                </a>
                                            </li>
                                        {% else %}

                                            <p>No Makes Loaded</p>

                                        {% endfor %}
                                        </ul>

                                    {% endif %}
                                </div>
                                <div class="widget service-download">
                                    <h4 class="widget-title">Download</h4>
                                    <a href="#"><i class="far fa-file-pdf"></i> Download Brochure</a>
                                    <a href="#"><i class="far fa-file-alt"></i> Download Application</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-single end-->

