<!-- team-area -->
<div class="team-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{{ render_content('team-pre-title', 'Default Text Here') }}</span>
                    <h2 class="site-title">{{ render_content('team-title', 'Default Text Here') }}</h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="owl-carousel team-carousel">
                {% for person in teamMembers %}
                <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="team-img">
                        <img src="{{ asset('site/images/team_photos/' ~ person.photo ) }}" alt="{{ person.name }}">
                    </div>
                    <div class="team-social">
                        <a href="{{ setting.facebookLink }}"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ setting.instagramLink }}"><i class="fab fa-instagram"></i></a>
                        <a href="{{ setting.linkedinLink }}"><i class="fab fa-linkedin-in"></i></a>
                        <a href="{{ setting.youtubeLink }}"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="team-content">
                        <div class="team-bio">
                            <h5><a href="#">{{ person.name }}</a></h5>
                            <span>{{ person.title }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- team-area end -->
