        <!-- testimonial area -->
        <div class="testimonial-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="flaticon-drive"></i> {{ render_content('testimonial-area-pre-title', 'Default Text Here') }}</span>
                            <h2 class="site-title">{{ render_content('testimonial-area-title', 'Default Text Here') }}</h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider owl-carousel owl-theme">

				{% for testimonial in testimonials %}
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            {# <div class="testimonial-author-img"> #}
                                {# <img src="assets/img/testimonial/01.jpg" alt=""> #}
								{{ testimonial.videoUrl | raw }}
                            {# </div> #}
                            {# <div class="testimonial-author-info">
                                <h4>{{ testimonial.name }}</h4>
                                <p>{{ testimonial.title }}</p>
                            </div> #}
                        </div>
                        {# <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="flaticon-quote"></i></span>
                            <p>
                                {{ testimonial.content }}
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div> #}
						{# <a href="#" class="theme-btn"><span class="far fa-eye"></span>{{ render_content('car-area-cta-text', 'Default Text Here') }}</a> #}
                    </div>
				{% endfor %}

                </div>
            </div>
        </div>
        <!-- testimonial area end -->
