	<div class="services-area section-padding">
		<div class="container">
            <!-- Section 1 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-1-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-1-title', 'Budget-Friendly Used Vehicles In Kenya') }}</h2>
                    {{ render_content('extension-1-text', '<p>Looking for a used car in Kenya without blowing your budget? You’re in the right place! At <a href="https://gybird.co.ke">Gybird Motors</a>, we are dedicated to helping you find quality used cars for sale in Kenya that meet your needs and budget.</p>
                    <p>Whether you are looking for an elegant sedan that combines style and efficiency, a robust SUV that offers both performance and comfort or a dependable pickup truck suited for heavy-duty tasks, our extensive inventory provides many choices. </p>
                    <p>Each vehicle in our collection has been carefully selected to meet varying preferences and financial considerations, ensuring that you will buy used cars that will suit your specific needs and lifestyle. </p>
                    <p>Please explore our site, browse our listings, and let’s get you one step closer to the driver’s seat of your next car!</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>

            <!-- Call to Action 1 -->
            <div class="row mb-5">
                <div class="col text-center">
                <h3>{{ render_content('ext-cta-1-title', 'Need Help In Choosing A Vehicle?') }}</h3>
                <p class="lead">{{ render_content('ext-cta-1-text', 'Need assistance? Our team is here to help!') }}</p>
                <a href="tel:{{ setting.phoneNumber }}" class="btn btn-warning">{{ render_content('ext-cta-1-cta', 'Call Us') }}</a>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                    <h2>{{ render_content('extension-2-title', 'Understanding the Market for Used Cars in Kenya') }}</h2>
                    {{ render_content('extension-2-text', '<p>The Kenyan market for new used cars is booming – and for good reason! For the savvy buyer, second-hand cars offer affordability and variety. Here’s what makes this market so unique:</p>
                    <p>Affordability: Why buy a new car when an almost perfect one is already waiting for you at half the cost? Buying used is a cost-effective way to get all the wheels without all the wallet pain.</p>
                    <p>Variety: The options are endless, from compact city cars to rugged off-roaders. Many cars in Kenya are high-quality Japanese imports, offering advanced technology and reliability without the high prices of new car showrooms.</p>
                    <p>Strong Demand: With more and more Kenyans choosing used cars, it’s clear that this is the market to be in! It’s an intelligent choice.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-2-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 3 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-3-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-3-title', 'Find the Best Deals on Used Cars in Kenya On Our Website') }}</h2>
                    {{ render_content('extension-3-text', '<p>Our trusted website is designed to make car-hunting vehicles for sale in Kenya easy and enjoyable:</p>
                    <p>User-Friendly Search: With filters for make, model, and year, finding your ideal car is as easy as a Sunday drive.</p>
                    <p>No Registration Needed: We believe in quick, hassle-free browsing. Look all you want, no login necessary.</p>
                    <p>Updated Listings: Fresh listings are added daily on our Instagram page. We’re always on top of the market to help you stay up-to-date.</p>
                    <p>Direct Contact with Sellers: See something you like? Contact the seller directly. There are no middlemen, just smooth and straightforward transactions.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>


            <!-- Section 4 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                    <h2>{{ render_content('extension-4-title', 'What to Know About Buying a Used Car in Kenya') }}</h2>
                    {{ render_content('extension-4-text', '<p>Buying a used car is exciting – but there are a few essential things to keep in mind:</p>
                    <p>If you are a first-time buyer, here is what you should know when getting your first car.</p>
                    <p>Budgeting: In addition to the purchase price, remember to budget for insurance, taxes, and transfer fees. A great deal is only great if it fits your budget.</p>
                    <p>Paperwork Check: Double-check that logbooks, service records, and other documents are in order. Avoid headaches and ensure everything’s legit!</p>
                    <p>Condition Checks: A shiny exterior isn’t everything. Inspect the car’s engine, tires, brakes, and suspension.</p>
                    <p>Ownership History: Imported vehicles often come with service histories. Ask for all past usage details to ensure there are no hidden surprises.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-4-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 5 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-5-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-5-title', 'Finding the Right Used Car in Kenya On Our Website') }}</h2>
                    {{ render_content('extension-5-text', '<p>Our site is packed with features to make your search smooth and successful as you buy used cars online</p>
                    <p>Advanced Filters: Sort through thousands of listings by price, brand, fuel type, transmission – you name it.</p>
                    <p>Guidance: Not sure which one’s the better deal? Click on the chat box at the bottom right side of any page to get guidance on the right car to purchase.</p>
                    <p>Detailed Descriptions: Our listings include all the details you need—photos, features, and honest condition reports—so there are no surprises.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>

            <!-- Section 6 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                    <h2>{{ render_content('extension-6-title', 'Take Your Search for Used Cars in Kenya to the Next Level') }}</h2>
                    {{ render_content('extension-6-text', '<p>Our site goes beyond just listing cars – here are tips to make the most of it:</p>
                    <p>Do Your Research: Read reviews, compare prices, and check for model-specific issues to make sure you’re getting what you want!</p>
                    <p>Get Expert Help: Our Gybird Motors team is ready to offer expert advice. Contact us if you need pointers on which car best suits you.</p>
                    <p>Consider Financing Options: Need a little boost to meet your dream car budget? Explore financing options to see if a loan can help you get there.</p>
                    <p>How the Kenyan Used Car Market Impacts Prices</p>
                    <p>Wondering why prices vary? Here’s what you should know about how the Kenyan market works:</p>
                    <ul class="about-list list-unstyled">
                        <li>Import Costs: Import fees can impact the final price tag – used Japanese cars for sale in Kenya will have added costs for duties and VAT, for example.</li>
                        <li>Supply and Demand: Like in any market, specific models are hot, and others are, well, not. Some trends drive prices up, while less popular options are more affordable.</li>
                        <li>Depreciation: While cars lose value over time, a used car’s depreciation rate slows significantly after the first few years, which works to your advantage.</li>
                        <li>Currency Fluctuations: Currency exchange rates can affect pricing if you are importing. Luckily, our local stock does not change, so you’re safe with what’s on offer.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-6-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 7 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-7-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-7-title', 'Why Many Buyers in Kenya Choose Used Cars') }}</h2>
                    {{ render_content('extension-7-text', '<p>Here’s why Kenyans prefer going pre-loved over showroom fresh:</p>
                    <ul class="about-list list-unstyled">
                        <li>Cost Savings: Less cash upfront, slower depreciation – a win-win!</li>
                        <li>Wider Choices: New car models are limited, but with used cars, the variety of years and trims gives you more options.</li>
                        <li>Immediate Availability: Forget waiting weeks for delivery; with used cars, you can buy today and drive away tomorrow.</li>
                        <li>Environmental Benefit: Used cars mean less resource usage – a small but positive step for sustainability.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>

            <!-- Section 8 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                    <h2>{{ render_content('extension-8-title', 'Do Used Cars Offer Good Value Compared to New Cars?') }}</h2>
                    {{ render_content('extension-8-text', '<p>In the battle of new versus used, used cars have a strong case:</p>
                    <ul class="about-list list-unstyled">
                        <li>Depreciation Advantage: While new cars lose up to 20% of their value the moment they’re driven off the lot, used cars have already seen most of their value drop, making </li>them a better investment.
                        <li>Affordable Features: With used cars, you can often afford higher trims and features that would cost a fortune on a new car.</li>
                        <li>Reliability: With access to service records and verified reports, you can find reliable used vehicles that are as good as new.</li>
                        <li>Warranty Transfers: Many newer used cars still have warranties, giving you extra peace of mind.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-8-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 9 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-9-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-9-title', 'How to Find Reliable Used Cars in Nairobi, Kenya') }}</h2>
                    {{ render_content('extension-9-text', '<p>Let’s make sure your next car won’t have you riding the “matatu” again too soon:</p>
                    <ul class="about-list list-unstyled">
                        <li>Choose Reputable Sellers: Trust only reputable dealers and verified listings.</li>
                        <li>Inspection Checklist: Bring a checklist from the engine to the tires to ensure nothing’s overlooked.</li>
                        <li>Test Drive: Don’t skip the test drive! It’s your chance to make sure the car feels right for you.</li>
                        <li>Vehicle History: For imports, history reports are an excellent investment to check past ownership and maintenance.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>


            <!-- Section 10 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                <h2>{{ render_content('extension-10-title', 'How to Incorporate Budget-Friendly Options Into Your Car Search') }}</h2>
                {{ render_content('extension-10-text', '<p>Looking to stay within budget as you get your Nissan or Used Toyota? Here’s how you can get a good sale price.</p>
                <ul class="about-list list-unstyled">
                    <li>Prioritize Needs: Decide which features matter most – sometimes it’s all about that A/C in Nairobi’s sun!</li>
                    <li>Negotiation Tips: Don’t be shy to negotiate; many sellers expect it, and you might end up with a better deal than you think.</li>
                    <li>Older Models: A few years older can mean thousands saved—just don’t get too old if you want to avoid major repairs.</li>
                    <li>Mileage Trade-Off: Balance mileage with budget. A well-maintained, slightly higher-mileage car can be an excellent choice.</li>
                </ul>
                <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-10-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 11 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-11-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                    <h2>{{ render_content('extension-11-title', 'Other Helpful Websites for Finding Used Cars in Kenya') }}</h2>
                    {{ render_content('extension-11-text', '<p>While Gybird Motors is your one-stop shop, there are other car dealerships to look:</p>
                    <ul class="about-list list-unstyled">
                        <li>Local Marketplaces: Platforms like OLX and Cheki have more listings but lack our quality filtering.</li>
                        <li>Social Media: Facebook groups have listings, but proceed cautiously, as scams can be expected.</li>
                        <li>Aggregated Dealership Listings: Some sites offer listings from multiple dealers, though they may require sign-ups.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
            </div>

            <!-- Section 12 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6 order-md-1">
                    <h2>{{ render_content('extension-12-title', 'Search Now - Best Used Car Deals in Kenya') }}</h2>
                    {{ render_content('extension-12-text', '<p>Our site stands out for being hassle-free:</p>
                    <ul class="about-list list-unstyled">
                        <li>Free Access: Browse for your next car without logging in.</li>
                        <li>Wide Selection: We’ve got everything from small cars to SUVs.</li>
                        <li>Helpful Tools: We offer search tools you need to find the best deal.</li>
                    </ul>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    ') }}
                </div>
                <div class="col-md-6 order-md-2">
                {{ render_image('extension-12-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
            </div>

            <!-- Section 13 -->
            <div class="row mb-5 align-items-center">
                <div class="col-md-6">
                {{ render_image('extension-13-img', '/site/images/page_images/gybird-motors-car-1-1725947727.jpg') }}
                </div>
                <div class="col-md-6">
                <h2>{{ render_content('extension-13-title', 'Making the Most of Your Used Car Purchase in Kenya') }}</h2>
                {{ render_content('extension-13-text', '<p>To wrap things up, here are some final tips:</p>
                <ul class="about-list list-unstyled">
                    <li>Do Your Homework: Check all details and ask questions if anything’s unclear.</li>
                    <li>Stay Safe with Payments: Stick to safe payment methods for security.</li>
                    <li>Consider Maintenance: Secure a maintenance or insurance plan to keep your new ride in tip-top shape.</li>
                </ul>
                <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                ') }}
                </div>
            </div>

            <!-- Final Call to Action -->
            <div class="row mb-5">
                <div class="col text-center">
                <h3>{{ render_content('ext-cta-2-title', 'Don’t miss out on our latest offerings!') }}</h3>
                <p>{{ render_content('ext-cta-2-text', 'Join our community and stay updated on all our new features') }}</p>
                <a href="https://wa.me/{{ setting.phoneNumber }}" class="btn btn-danger">{{ render_content('chat-with-ext', 'Chat With Joyce on WhatsApp') }}</a>
                </div>
            </div>

		</div>
	</div>
	<!-- Services Area End -->
