
        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(/site/assets/img/breadcrumb/gybird-motors-car-1.jpg)">
            <div class="container">
                <h1 class="breadcrumb-title">{{ title }}</h1>
                <ul class="breadcrumb-menu">
                    <li><a href="{{ path('app_index') }}">Home</a></li>
                    <li>{{ page_category }}</li>
                    <li class="active">{{ title }}</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb end -->
