        <!-- video area -->
        <div class="video-area pb-120">
            <div class="container-fluid px-0">
                <div class="video-content" style="background-image: url({{ '/site/web_images/' ~ images['video-bg-image'].src }});">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="video-wrapper">
                                <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=YTaWglwI_Tc">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- video area end -->
