
        <!-- choose area -->
        <div class="choose-area py-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="choose-content">
                            <div class="site-heading wow fadeInDown" data-wow-delay=".25s">
                                <span class="site-title-tagline text-white justify-content-start">
                                    <i class="flaticon-drive"></i> {{ render_content('why-us-pre-title', 'Default Text Here') }}
                                </span>
                                <h2 class="site-title text-white mb-10">{{ render_content('why-us-title', 'Default Text Here') }}</h2>
                                <p class="text-white">
                                    {{ render_content('why-us-description', 'Default Text Here') }}
                                </p>
                            </div>
                            <div class="choose-img wow fadeInUp" data-wow-delay=".25s">
                                {{ render_image('why-us', 'site/web_images/' ~ images['why-us'].src, 'Why choose us?') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-content-wrapper wow fadeInRight" data-wow-delay=".25s">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 mt-lg-5">
                                    <div class="choose-item">
                                        <span class="choose-count">01</span>
                                        <div class="choose-item-icon">
                                            <i class="flaticon-car"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>{{ render_content('why-us-reason-1-title', 'Default Text Here') }}</h3>
                                            <p>{{ render_content('why-us-reason-1-text', 'Default Text Here') }}</p>
                                        </div>
                                    </div>
                                    <div class="choose-item mb-lg-0">
                                        <span class="choose-count">03</span>
                                        <div class="choose-item-icon">
                                            <i class="flaticon-drive-thru"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>{{ render_content('why-us-reason-3-title', 'Default Text Here') }}</h3>
                                            <p>{{ render_content('why-us-reason-3-text', 'Default Text Here') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="choose-item">
                                        <span class="choose-count">02</span>
                                        <div class="choose-item-icon">
                                            <i class="flaticon-chauffeur"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>{{ render_content('why-us-reason-2-title', 'Default Text Here') }}</h3>
                                            <p>{{ render_content('why-us-reason-2-text', 'Default Text Here') }}</p>
                                        </div>
                                    </div>
                                    <div class="choose-item mb-lg-0">
                                        <span class="choose-count">04</span>
                                        <div class="choose-item-icon">
                                            <i class="flaticon-online-payment"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>{{ render_content('why-us-reason-4-title', 'Default Text Here') }}</h3>
                                            <p>{{ render_content('why-us-reason-4-text', 'Default Text Here') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose area end -->
