<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
{# <script async src="https://www.googletagmanager.com/gtag/js?id=G-N1VJJMEDL7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N1VJJMEDL7');
</script> #}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5VLVWDW6');</script>
<!-- End Google Tag Manager -->
    {% set pages = global_vars('pages') %}
    {% set setting = global_vars('setting') %}
    {% set car_makes = global_vars('car_makes') %}
    {% if myseo is defined and myseo is not null %}
    {% set seo = myseo %}
    {% else %}
    {% set seo = global_vars('seo') %}
    {% endif %}
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{{ seo is not null ? seo.metaDescription : 'Japan used cars at affordable prices. We do direct importation and trade in. We help with bank financing of vehicles' }}{% endblock %}">
    <meta name="keywords" content="{{ seo is not null ? seo.keywords : 'Gybird Motors, Home of Mazda, JP used cars, Japan used mazda cars, Japan used cars' }}" />
    <meta name="author" content="gybird">
    {% include 'sections/website-json-ld.html.twig' %}
    {% include 'sections/local-business-json-ld.html.twig' %}
    <!-- title -->
    <title>{% block meta_title %}{{ seo is not null ? seo.metaTitle : 'Gybird Motors - Home of Mazda' }}{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    <!-- css -->
    <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/flex-slider.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/style.css') }}">

<style>

    .container h1 {
        font-size:1.6em;
        margin-top:10px;
        margin-bottom:10px;
    }
    .container h2 {
        font-size:1.4em;
        margin-top:10px;
        margin-bottom:10px;
    }
    .container h3 {
        font-size:1.2em;
        margin-top:10px;
        margin-bottom:10px;
    }
    .car-single-overview ul {
    padding-left: 0;
    list-style: none;
    }

    .car-single-overview ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    }

    .car-single-overview ul li:last-child {
    margin-bottom: 0; /* Remove margin from last item */
    }
    #whatsapp-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 999; /* Adjust the z-index as needed */
        color: white; /* Change the text color */
        padding:5px;
        border-radius: 50%;
        cursor: pointer;
        /* Add other styles as needed */
    }
    #mobile-call-button {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999; /* Adjust the z-index as needed */
        color: white; /* Change the text color */
        padding:5px;
        border-radius: 50%;
        cursor: pointer;
        /* Add other styles as needed */
    }
    p {
        margin-bottom: 1em !important;
    }
    .gybird-support-person__img img {
        width:70px; 
        border-radius:50%;
    }
    .grecaptcha-badge { visibility: hidden!important; }
    .instagram-wrapper {
        display: flex!important;
        flex-wrap: wrap!important;
        justify-content: space-between!important;
    }

    .instagram-media {
        width: 20%!important;
        position: relative!important;
    }

    .instagram-media iframe {
        position: absolute!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 100%!important;
    }
    /* Modal container styling */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Modal content styling */
    .modal-content {
        position: relative;
        margin: 10% auto;
        padding: 20px;
        width: 80%;
        max-width: 1600px;
        background-color: white;
        border-radius: 8px;
    }

    .close {
        position: absolute;
        top: -22px; /* Adjust based on button height */
        right: -22px; /* Adjust based on button width */
        font-size: 32px;
        cursor: pointer;
        background-color: white;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    pre {
        max-width:500px;
    }
    #table-of-contents {
      background-color: #f9f9f9;
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
    }
    #table-of-contents ul {
      list-style-type: none;
      padding-left: 0;
    }
    #table-of-contents li {
      margin-bottom: 5px;
    }
    #table-of-contents a {
      text-decoration: none;
      color: #0073e6;
    }
    #table-of-contents a:hover {
      text-decoration: underline;
    }

    .content-section a, .services-area a, .blog-details a {
        text-decoration: underline!important;
    }

</style>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VLVWDW6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {# <!-- preloader -->
    <div class="preloader">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- preloader end --> #}
    {% include 'tmp/header.html.twig' %}
    {% include 'tmp/side-bar-popup.html.twig' %}
	<main class="main">

    {% block page %}

    {% endblock %}

    </main>
    <div id="mobile-call-button"><a href="tel:{{ setting.phoneNumber }}"><img src="/call-us.png"></a></div>
    <div class="gybird-widget">
        <!-- Chat Popup -->
        <div id="chat-popup" class="gybird-widget__body" style="position:fixed; bottom:-300px; right:20px; width:250px; z-index:999; opacity: 0; transition: bottom 0.5s ease, opacity 0.5s ease;">
            <div class="gybird-widget__body-header" style="background-color:green; padding:10px; text-align:center; position:relative;">
            <span class="text-light">{{ setting is not null ? setting.businessName : 'Joe SEO Consultant' }}</span>
            </div>
            <span class="text-light gybird-icon-close gybird-widget-close" onclick="toggleChatPopup()" style="position:absolute; top:-10px; right:-10px; cursor:pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" fill="currentColor" style="width:20px;">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
            </svg>
            </span>
            <div class="gybird-support-persons" style="background-color:#f1f1f1; padding:10px;">
            <div class="gybird-support-person mb-3 mt-2">
                <div class="gybird-support-person__img" style="display:flex; align-items:center; cursor:pointer;" id="whatsapp-link">
                {{ render_image('widget-chag-img', '/site/images/team_photos/joyce-1725950689.jpg', 'Chat with Us') }}
                <div class="gybird-support-person__meta" style="margin-left:10px;">
                    <div style="color:black;" class="gybird-support-person__name">{{ render_content('widget-cta-text', 'Chat With') }}</div>
                    <div style="color:black;" class="gybird-support-person__title"><strong>{{ render_content('chat-with-name', 'Joyce') }}</strong></div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Chat button -->
        <div class="gybird-widget__trigger" onclick="toggleChatPopup()" style="position:fixed; bottom:20px; right:20px; background-color:green; color:white; border:none; padding:10px; cursor:pointer; z-index:1000;">
            <span class="gybird-icon-whatsapp">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:20px;">
                <path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path>
            </svg>
            </span>
            How can we help?
        </div>
    </div>
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <iframe id="modalFrame" src="" width="100%" height="400px"></iframe>
        </div>
    </div>
<script>

    // Store the current attendant's number
    let currentAttendantNumber = null;

    // Fetch and display the current attendant
    function fetchCurrentAttendant() {
        fetch('/api/get-current-attendant')
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(attendant => {
                console.log(attendant);
                if (!attendant || !attendant.number) {
                    throw new Error('Attendant data is missing or incomplete.');
                }

                // Display the attendant details in the chat popup
                document.querySelector(".gybird-support-person__name").textContent = "Chat With";
                document.querySelector(".gybird-support-person__title").textContent = attendant.name;
                document.querySelector(".gybird-support-person__img img").src = attendant.image;

                // Store the current attendant's phone number
                currentAttendantNumber = attendant.number;
                console.log('Current attendant number set to:', currentAttendantNumber);
            })
            .catch(error => {
                console.error('Error fetching current attendant:', error);
            });
    }

    // Fetch the next attendant from the server and redirect to WhatsApp
    function fetchNextAttendant() {
        console.log('fetching next attendant');
        fetch('/api/get-next-attendant')
            .then(response => response.json())
            .then(attendant => {
                // Update attendant details in the widget
                document.querySelector(".gybird-support-person__name").textContent = "Chat With";
                document.querySelector(".gybird-support-person__title").textContent = attendant.name;
                document.querySelector(".gybird-support-person__img img").src = attendant.image;

            })
            .catch(error => console.error('Error fetching attendant:', error));
    }

    // Redirect to WhatsApp
    function redirectToWhatsApp(number) {
        console.log('Redirecting to WhatsApp with number:', number); // Log for debugging
        const currentUrl = window.location.href;
        const prefilledMessage = `Hello, I have a question from your website. I'm from this page: ${currentUrl}`;
        const whatsappLink = `https://wa.me/${number}?text=${encodeURIComponent(prefilledMessage)}`;
        window.open(whatsappLink, '_blank');
    }

    // Show popup after 10 seconds for desktop users
    setTimeout(function() {
        if (window.innerWidth > 768) { // Desktop
        document.getElementById("chat-popup").style.bottom = "80px";
        document.getElementById("chat-popup").style.opacity = "1";
        }
    }, 10000); // 10 seconds delay

    // Keep chat minimized on mobile until clicked
    if (window.innerWidth <= 768) { // Mobile devices
        document.getElementById("chat-popup").style.bottom = "-300px";
        document.getElementById("chat-popup").style.opacity = "0";
    }
    {# // Show popup after 10 seconds for desktop users
    function showChatPopupAfterDelay() {
        setTimeout(() => {
            const chatPopup = document.getElementById("chat-popup");
            if (window.innerWidth > 768) { // Desktop
                chatPopup.style.bottom = "80px";
                chatPopup.style.opacity = "1";
            }
        }, 10000); // 10 seconds delay
    } #}

    // Keep chat minimized on mobile until clicked
    function handleMobileChatPopup() {
        const chatPopup = document.getElementById("chat-popup");
        if (window.innerWidth <= 768) { // Mobile devices
            chatPopup.style.bottom = "-300px";
            chatPopup.style.opacity = "0";
        }
    }

    // Toggle the popup visibility
    function toggleChatPopup() {
        const popup = document.getElementById("chat-popup");
        if (popup.style.bottom === "80px") {
            popup.style.bottom = "-300px";
            popup.style.opacity = "0";
        } else {
            popup.style.bottom = "80px";
            popup.style.opacity = "1";
        }
    }

    // Initialize the chat popup and attendant on page load
    document.addEventListener("DOMContentLoaded", function () {
        fetchCurrentAttendant(); // Fetch and display the current attendant

        // Set up the WhatsApp link to redirect with the current attendant's number
        const whatsappLink = document.getElementById("whatsapp-link");
        whatsappLink.onclick = function (event) {
            event.preventDefault(); // Prevent default link behavior

            if (currentAttendantNumber) {
                fetchNextAttendant()
                redirectToWhatsApp(currentAttendantNumber); // Use the stored number
            } else {
                console.error('Attendant number is not available.');
            }
        };
    });

</script>





    {% include 'tmp/footer.html.twig' %}
    {% if is_granted('ROLE_ADMIN') %}
        <script src="https://joe-seo-co-ke.github.io/keyword-tool/keyword-tool.js"></script>
    {% endif %}
    <!-- Please link back to https://joeseo.co.ke/keyword-tool -->
    {# <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-arrow-up"></i></a>
    <!-- scroll-top end --> #}
    <script>

    function openModal(event, element) {
        event.preventDefault(); // Prevent default link behavior

        // Set the iframe source to the href of the link
        document.getElementById('modalFrame').src = element.href;

        // Show the modal
        document.getElementById('updateModal').style.display = "block";
    }

    function closeModal() {
        // Hide the modal
        document.getElementById('updateModal').style.display = "none";
        
        // Clear the iframe src (optional, for security and performance)
        document.getElementById('modalFrame').src = "";
    }

    </script>


    <!-- js -->
    <script src="{{ asset('site/assets/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/counter-up.js') }}"></script>
    <script src="{{ asset('site/assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/flex-slider.js') }}"></script>
    <script src="{{ asset('site/assets/js/main.js') }}"></script>
    <script>
        const whatsappNumber = "{{ setting.phoneNumber }}"; // Replace with your actual number
        const prefilledMessage = "Hi there, I have a question from your website."; // Optional pre-filled message

        const whatsappButton = document.querySelector('#whatsapp-button');

        whatsappButton.addEventListener('click', function() {
        const url = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(prefilledMessage)}`;
        window.location.href = url;
        });
    </script>        
    <script>
    // Function to create a slug from text
    function createSlug(text) {
        return text
        .toLowerCase()
        .trim()
        .replace(/[^a-z0-9\s-]/g, '') // Remove special characters
        .replace(/\s+/g, '-') // Replace spaces with hyphens
        .replace(/-+/g, '-'); // Remove consecutive hyphens
    }

    // Select all <h2> elements
    const headings = document.querySelectorAll("h2");
    // Select the TOC container div
    const tocContainer = document.querySelector("#table-of-contents");

    // Check if there are <h2> elements and the TOC container exists
    if (headings.length > 0 && tocContainer) {
        // Create the TOC content dynamically
        const tocHeading = document.createElement("h2");
        tocHeading.textContent = "On This Page";
        tocContainer.appendChild(tocHeading);

        const tocList = document.createElement("ul");
        tocContainer.appendChild(tocList);

        // Add <li> and <a> for each <h2>
        headings.forEach((heading) => {
        const slug = createSlug(heading.textContent);

        // Ensure each heading has a unique ID based on its slug
        heading.id = slug;

        // Create list item and link
        const listItem = document.createElement("li");
        const link = document.createElement("a");
        link.href = `#${slug}`;
        link.textContent = heading.textContent;

        listItem.appendChild(link);
        tocList.appendChild(listItem);
        });
    }
    </script>

</body>

</html>
